th{
  cursor: pointer;
}
body{
  font-family: Montserrat;
  background :#F3F3F3;
}
#spr{
  padding-top: 70px;
}
input[type="text"]::placeholder,input[type="password"]::placeholder{
  color:lightgrey;
}
#back{
  background-color:   #f2f5f2;
}
#t{
  border: 1px solid lightgrey;
}
td{
  border : 1px solid lightgrey;
}
#tab2{
  text-align: center;
  font-size: 12px;
}
.btn{
  font-size: 12px;
}
.example_c {
  font-size: 10px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
.example_c:hover {
  font-size: 10px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
#hid{
  float: right;
  padding-top:10px;
}
#hid1,#hid3{
  display: inline-block;
}
.js-example-basic-single{
  width: 'resolve';
}
