body{
  font-family:Montserrat;
  background: lightgrey;
}
#spr{
  padding-top:10px;
}
#hid{
  float: right;
  padding-top:10px;
}
#hid1,#hid3{
  display: inline-block;
}
.example_c {
  font-size: 10px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
.example_c:hover {
  font-size: 10px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
.js-example-basic-single{
  width: 100%;
}
.detailBox {
border:1px solid #bbb;
margin:10px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
#brief{
  border:1px solid white;
}
#brief:hover{
  border: 1px solid lightgrey;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentList {
    padding:0;
    list-style:none;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
#spr,#check2{
  display:inline-block;
}
#check2{
  padding-top:10px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:hover{
  background-color:#343a40 !important;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.txtstuff {
    overflow: hidden;
}
.common {
    min-height: 50px;
    overflow: hidden;
}
