body{
  font-family:Montserrat;
  font-size: 13px;
  -moz-osx-font-smoothing:None;
}
#hidx{
  float: left;
  padding-top: 7%;
}
#hidy{
  display: inline-block;
  padding-top: 7%;
  padding-left: 62%;
}
.chartjs-render-monitor {
  animation: chartjs-render-animation .05s;
}
.navbar .navbar-collapse .nav-item a{
  font-size: 12px;
}
.navbar .navbar-brand{
  font-size: 14px;
}
.navbar{
  padding-top:0px;
  padding-bottom: 0px;
  padding: 0px;
}
.table{
  margin-bottom: 0px;
}
#spr,#bar,#burn,#pie{
  padding-top: 100px;
}
input[type="text"]::placeholder,input[type="password"]::placeholder{
  color:lightgrey;
}
#back{
  background-color: #f2f5f2;
}
#a{
  background-color: white;
  color:black;
}
#f,#g{
  width:550px;
  padding-left: 15px;
  font:10px;
}
/* .bootstrap-datetimepicker-widget.dropdown-menu{
  width:20rem;
} */
#change{
  color:grey;
  padding-left: 15px;
  padding-top: 5px;
}
.example_c {
color: black;
background: lightgrey;
border: 1px solid lightgrey;
transition: all 0.4s ease 0s;
}
.example_c:hover {
background: #303D39;
border: 1px solid #303D39;
transition: all 0.4s ease 0s;
}
.example_e{
  font-size: 12px;
  color: white;
  background: #1cc88a !important;
  border: 1px solid #1cc88a !important;
}

.example_e:hover {
  font-size: 12px;
  color: white;
  background: #1cc88a !important;
  border: 1px solid #1cc88a !important;
}
.js-example-basic-single{
  width: 'resolve';
}
.example_d {
  font-size: 12px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
.example_d:hover {
  font-size: 12px;
  color:white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:hover{
  background-color:#343a40 !important;
}
