th{
  cursor: pointer;
}
body{
  font-family: Montserrat;
  background :#F3F3F3;
}
#points{
  width: 40px;
  border: 1px solid white;
}
#points:hover{
  border:1px solid lightgrey;
}
#tab2{
  font-size: 10.5px;
}
b, sup, sub, u, del{
  color:black;
}
.modal-content{
  background-image: url("/static/forms/project.jpg");
  background-size: cover;
  color:white;
}
.left{
  background: rgba(0, 0, 0, 0.7);
}
.select2-results__options[id*="select2-prg"] .select2-results__option:nth-child(1) {
  color:black;
  background-color: lightyellow;
}
.select2-results__options[id*="select2-prg"] .select2-results__option:nth-child(2) {
  color:black;
  background-color: lightblue;
}
.select2-results__options[id*="select2-prg"] .select2-results__option:nth-child(3) {
  color:black;
  background-color: orange;
}
.table{
  margin-bottom: 0px;
}
.select2-results__options[id*="select2-prg"] .select2-results__option:nth-child(4) {
  color:black;
  background-color: lightgreen;
}
.dev a {
background-color: Yellow !important;
color: Black !important;
}
.cr a {
background-color: Blue !important;
color: White !important;
}
.qa a {
background-color: Orange !important;
color: White !important;
}
.rel a {
background-color: Green !important;
color: White !important;
}
.example_c {
  font-size: 10px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
.example_c:hover {
  font-size: 10px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
#hid{
  float: right;
  padding-top:10px;
}
#hid1,#hid3{
  display: inline-block;
}
.js-example-basic-single{
  width: resolve;;
}
