th{
  cursor: pointer;
}
body{
  font-family: Montserrat;
  background :#F3F3F3;
}
#tab2{
  font-size: 12px;
}
b, sup, sub, u, del{
  color:black;
}
.dev a {
background-color: Yellow !important;
color: Black !important;
}
.cr a {
background-color: Blue !important;
color: White !important;
}
.qa a {
background-color: Orange !important;
color: White !important;
}
.rel a {
background-color: Green !important;
color: White !important;
}
.red {
  background-color: Blue !important;
}

.green {
  background-color: Yellow !important;
}

.black {
  background-color: Orange !important;
}
.purple {
  background-color: Green !important;
}
.example_c {
  font-size: 10px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
.example_c:hover {
  font-size: 10px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
#hid{
  float: right;
  padding-top:10px;
}
#hid1,#hid3{
  display: inline-block;
}
.js-example-basic-single{
  width: resolve;;
}
