th{
  cursor: pointer;
}
body{
  font-family: Montserrat;
  background :#F3F3F3;
}

#c{
  width: 40px;
}
.points{
  width: 40px;
  border: 1px solid white;
}
#points:hover{
  border:1px solid lightgrey;
}
.float{
  position:fixed;
  width:40px;
  height:40px;
  bottom:80%;
  right:1%;
  background-color:white;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}
#spr{
  padding-top: 70px;
}
input[type="text"]::placeholder,input[type="password"]::placeholder{
  color:lightgrey;
}
#hid2{
  padding-top: 20px;
}
#devs{
  padding-top: 10px;
}
.js-example-basic-single{
  width: 'resolve';
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  float:left;
}
#tab2,#e{
  text-align: center;
  font-size: 12px;
  border: solid lightgrey .5px;
}
#tab3{
  text-align: center;
  font-size: 12px;
}
#black{
  background-color: black;
  color:white;
  border: 1px solid lightgrey;
}
#red{
  background-color: red;
  color:white;
  border: 1px solid lightgrey;
}
#yellow{
  background-color: yellow;
  color:black;
  border: 1px solid lightgrey;
}
#green{
  background-color: #1ea84c;
  color: white;
  border: 1px solid lightgrey;
}
#purple{
  background-color: purple;
  color: white;
  border: 1px solid lightgrey;
}
#white{
  background-color: white;
  color: black;
  border: 1px solid lightgrey;
}
#blue{
  background-color: blue;
  color: white;
  border: 1px solid lightgrey;
}
#pd{
  background-color: lightgreen;
  color: black;
  border: 1px solid lightgrey;
}
#other{
  background-color: brown;
  color: white;
  border: 1px solid lightgrey;
}
.ec,.dc{
  display: inline-block;
}
#tab1{
  text-align: center;
  font-size: 12px;
}
.dev a {
background-color: Yellow !important;
color: Black !important;
}
.cr a {
background-color: Blue !important;
color: White !important;
}
.qa a {
background-color: Orange !important;
color: White !important;
}
.rel a {
background-color: Green !important;
color: White !important;
}

.example_d {
  font-size: 12px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
.example_d:hover {
  font-size: 12px;
  color:white;
  background: #4e73df;
  border: 1px solid #4e73df;
}

.example_e{
  font-size: 12px;
  color: white;
  background: #1cc88a !important;
  border: 1px solid #1cc88a !important;
}

.example_e:hover {
  font-size: 12px;
  color: white;
  background: #1cc88a !important;
  border: 1px solid #1cc88a !important;
}

.table{
  margin-bottom: 0px;
}
