th{
  cursor: pointer;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
#c{
  width:40px;
}
body{
  font-family: Montserrat;
  background :#F3F3F3;
}
#spr{
  padding-top: 70px;
}
input[type="text"]::placeholder,input[type="password"]::placeholder{
  color:lightgrey;
}
#back{
  background-color:   #f2f5f2;
  width:500px;
}
#a{
  background-color: white;
  color:black;
}
#read{
  background-color: lightgrey;
}
#hid2{
  padding-top: 20px;
}
#devs{
  padding-top: 10px;
}
.example_c {
color: black;
background: lightgrey;
border: 1px solid lightgrey;
transition: all 0.4s ease 0s;
}
.example_c:hover {
background: #303D39;
border: 1px solid #303D39;
transition: all 0.4s ease 0s;
}
#hid{
  float: right;
  padding-top:10px;
}
#hid1,#hid3{
  display: inline-block;
}
.js-example-basic-single,#bt1{
  font-size: 10px;
}
.js-example-basic-single{
  width: 100%;
}
#tab2{
  text-align: center;
  font-size: 14px;
  border: solid lightgrey .5px;
}
#tab3{
  text-align: center;
  font-size: 17px;
  border: solid lightgrey .5px;
}
#black{
  background-color: black;
  color:white;
  border: 2px solid black;
}
#red{
  background-color: red;
  color:white;
  border: 2px solid red;
}
#yellow{
  background-color: yellow;
  color:black;
  border: 2px solid yellow;
}
#green{
  background-color: #1ea84c;
  color: white;
  border: 2px solid #1ea84c;
}
#purple{
  background-color: purple;
  color: white;
  border: 2px solid purple;
}
#white{
  background-color: white;
  color: black;
  border: 2px solid black;
}
#blue{
  background-color: blue;
  color: white;
  border: 2px solid blue;
}
#pd{
  background-color: lightgreen;
  color: black;
  border: 2px solid lightgreen;
}
#other{
  background-color: brown;
  color: white;
  border: 2px solid brown;
}
.ec,.dc{
  display: inline-block;
}
#tab1{
  text-align: center;
  font-size: 14px;
  border: solid lightgrey .5px;
}
.dev a {
background-color: Yellow !important;
color: Black !important;
}
.cr a {
background-color: Blue !important;
color: White !important;
}
.qa a {
background-color: Orange !important;
color: White !important;
}
.rel a {
background-color: Green !important;
color: White !important;
}
