th{
  cursor: pointer;
}
body{
  font-family: Montserrat;
  background :#F3F3F3;
}

#c{
  width: 40px;
}
#spr{
  padding-top: 70px;
}
input[type="text"]::placeholder,input[type="password"]::placeholder{
  color:lightgrey;
}
.btn{
  font-size: 12px;
}
#hid2{
  padding-top: 20px;
}
#devs{
  padding-top: 10px;
}
.example_c {
color: black;
background: lightgrey;
border: 1px solid lightgrey;
transition: all 0.4s ease 0s;
}
.example_c:hover {
background: #303D39;
border: 1px solid #303D39;
transition: all 0.4s ease 0s;
}
.js-example-basic-single,#bt1{
  font-size: 'resolve';
}
.js-example-basic-single{
  width: 'resolve';
}
#tab2{
  text-align: center;
  font-size: 12px;
  border: solid lightgrey .5px;
}
#tab3{
  text-align: center;
  font-size: 12px;
}
#black{
  background-color: black;
  color:white;
  border: 2px solid black;
}
#red{
  background-color: red;
  color:white;
  border: 2px solid red;
}
#yellow{
  background-color: yellow;
  color:black;
  border: 2px solid yellow;
}
#green{
  background-color: #1ea84c;
  color: white;
  border: 2px solid #1ea84c;
}
#purple{
  background-color: purple;
  color: white;
  border: 2px solid purple;
}
#white{
  background-color: white;
  color: black;
  border: 2px solid black;
}
#blue{
  background-color: blue;
  color: white;
  border: 2px solid blue;
}
#pd{
  background-color: lightgreen;
  color: black;
  border: 2px solid lightgreen;
}
#other{
  background-color: brown;
  color: white;
  border: 2px solid brown;
}
.ec,.dc{
  display: inline-block;
}
#tab1{
  text-align: center;
  font-size: 12px;
}
.dev a {
background-color: Yellow !important;
color: Black !important;
}
.cr a {
background-color: Blue !important;
color: White !important;
}
.qa a {
background-color: Orange !important;
color: White !important;
}
.rel a {
background-color: Green !important;
color: White !important;
}
.example_d {
color: white;
background: #4e73df;
border: 1px solid #4e73df;
transition: all 0.4s ease 0s;
}
.example_d:hover {
background: white;
border: 1px solid white;
transition: all 0.4s ease 0s;
}

.example_e  {
color: white;
background: #1cc88a !important;
border: 1px solid #1cc88a !important;
transition: all 0.4s ease 0s;
}
.example_e :hover {
background: white;
border: 1px solid white;
transition: all 0.4s ease 0s;
}
