th{
  cursor: pointer;
}
#tab2{
  font-size: 14px;
}
body{
  font-family: Montserrat;
  background :#F3F3F3;
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  float:left;
}
#spr{
  padding-top: 70px;
}
#black{
  background-color: black;
  color:white;
  border: 1px solid black;
}
#red{
  background-color: red;
  color:white;
  border: 1px solid lightgrey;
}
#yellow{
  background-color: yellow;
  color:black;
  border: 1px solid lightgrey;
}
.table{
  margin-bottom: 0px;
}
#green{
  background-color: #1ea84c;
  color: white;
  border: 1px solid lightgrey;
}
#purple{
  background-color: purple;
  color: white;
  border: 1px solid lightgrey;
}
#white{
  background-color: white;
  color: black;
  border: 1px solid lightgrey;
}
#blue{
  background-color: blue;
  color: white;
  border: 1px solid lightgrey;
}
#pd{
  background-color: lightgreen;
  color: black;
  border: 1px solid lightgrey;
}
#other{
  background-color: brown;
  color: white;
  border: 1px solid lightgrey;
}
td,th{
  text-align: center;
}
#una{
  text-align: left;
}
.example_c {
  font-size: 13px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
.example_c:hover {
  font-size: 13px;
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
}
#hid{
  float: right;
  padding-top:10px;
}
#hid1,#hid3{
  display: inline-block;
}
.chosen,#bt1{
  font-size: 14px;
}
td,th{
  border: 1px solid lightgrey;
}
.js-example-basic-single{
  width: 100%;
}
