<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Bandwidth
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

  <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

  <!-- CSS Files -->
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/paper-dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/w3.css' %}">

  <style media="screen">
      .scrollable-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
    }
    #spr{
      padding-top: 70px;
    }
    input[type="text"]::placeholder,input[type="password"]::placeholder{
      color:lightgrey;
    }
    #back{
      background-color:   #f2f5f2;
    }
    #a{
      background-color: white;
      color:black;
    }
    th{
      color:grey;
    }
    #s{
      width: 380px;
      height: 300px;
    }
    #t{
      border: 1px solid lightgrey;
    }
    td{
      border : 1px solid lightgrey;
    }
    #tab2{
      text-align: center;
      font-size: 10px;
    }
  </style>
  </head>

    <body id="re">
      <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
        onclick="w3_close()">Close &times;</button>
        <a href="{% url 'product' %}" class="w3-bar-item w3-button">Product Console</a>
        <a href="{% url 'view_story' %}" class="w3-bar-item w3-button">Stories</a>
        <a href="{% url 'allocation' %}" class="w3-bar-item w3-button">Allocation Dashboard</a>
        <a href="{% url 'qaprg' %}" class="w3-bar-item w3-button">Progress</a>
        <a href="{% url 'bandwidth' %}" class="w3-bar-item w3-button">Sprint Bandwidth</a>
        <a href="{% url 'tasks' %}l" class="w3-bar-item w3-button">All Tasks</a>
        <a href="{% url 'login' %}" class="w3-bar-item w3-button"><b>Logout</b></a>
      </div>

    <div id="main">

    <div class="w3-teal">
      <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
      Bandwidth Calculator
    </div>

    <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }
    </script>

    <div id="hx">
      <form class="post-form" method='POST' id="hid">
        {% csrf_token %}
        <div class="container-fluid" >
            <div class="col-md-12">
                <select class="chosen" name="select_project">
                    <option>{{ nx }}</option>
                  {% for n1 in n0 %}
                    <option>{{ n1.name }}</option>
                  {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit" name="submit_project"><small>Select Project</small></button>
            </div>
        </div>
      </form>

      <form class="post-form" method='POST' id='hid1'>
        {% csrf_token %}
        <div class="container-fluid" >
            <div class="col-md-12">
              <select class="chosen" name="select_sprint">
                <option>{{ nx1 }}</option>
                {% for product in data1 %}
                <option>{{ product.name }}</option>
                  {% endfor %}
              </select>
              <button class="btn btn-primary" type="submit" name="submit_sprint"><small>View Stories</small></button>
            </div>
        </div>
      </form>
    </div>

    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="tab2">
                  <thead>
                    <th>Name</th>
                    <th>Skill</th>
                    <th>Available Days</th>
                    <th>Planned Leaves</th>
                    <th>Unplanned Leaves</th>
                    <th>Velocity Factor</th>
                    <th>Available Bandwidth</th>
                    <th>Story Points</th>
                    <th>Assigned</th>
                    <th>Delta</th>
                  </thead>
                  <tbody>
                    {% for d22 in d2 %}{% for i in list1 %}
                      {% if forloop.counter == forloop.parentloop.counter %}
                        <tr id="t">
                          <td>{{ d22.name }}</td>
                          <td>JAVA</td>
                          {% for b in band %}
                          <td>{{ b.dev_working }}</td>
                          {% endfor %}
                          <td>
                            {{ d22.planned }}
                            <form method="get" id="java{{d22.id}}">
                              <input type="number" name="leave1" min="0" value="0">
                              <input type="hidden" value="{{ d22.id }}" name="leave2">
                              <input type="hidden" value="java" name="leave3">
                              <input type="submit" class="btn-xs btn-info" value="Assign" id="lvsub">
                            </form>
                              <script type="text/javascript">
                                  jQuery(document).ready(function($){
                                    var frm = $('#java{{d22.id}}');
                                    frm.submit(function (){
                                      if (this.id == 'java{{d22.id}}'){
                                          $.ajax({
                                              type: $('#java{{d22.id}}').attr('method'),
                                              data: $('#java{{d22.id}}').serialize(),
                                              success: function(data) {
                                                $("#re").html(data);
                                              },
                                          });
                                        return false;
                                      }
                                    });
                                  });
                              </script>
                          </td>
                          <td>
                              {{ d22.unplanned }}
                              <form method="get" id="java1{{d22.id}}">
                                <input type="number" name="uleave1" min="0" value="0">
                                <input type="hidden" value="{{ d22.id }}" name="uleave2">
                                <input type="hidden" value="java" name="uleave3">
                                <input type="submit" class="btn-xs btn-info" value="Assign" id="lvsub">
                              </form>
                                <script type="text/javascript">
                                    jQuery(document).ready(function($){
                                      var frm = $('#java1{{d22.id}}');
                                      frm.submit(function (){
                                        if (this.id == 'java1{{d22.id}}'){
                                            $.ajax({
                                                type: $('#java1{{d22.id}}').attr('method'),
                                                data: $('#java1{{d22.id}}').serialize(),
                                                success: function(data) {
                                                  $("#re").html(data);
                                                },
                                            });
                                          return false;
                                        }
                                      });
                                    });
                                </script>
                          </td>
                          <td>
                            {{ d22.vfjava }}
                            <form method="get" id="java1{{d22.id}}">
                              <input type="number" name="assign1" step="0.1" min="0" value="1">
                              <input type="hidden" value="{{ d22.id }}" name="assign2">
                              <input type="hidden" value="java" name="assign3">
                              <input type="submit" class="btn-xs btn-info" value="Assign">
                            </form>
                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                  var frm = $('#java1{{d22.id}}');
                                  frm.submit(function (){
                                    if (this.id == 'java1{{d22.id}}'){
                                        $.ajax({
                                            type: $('#java1{{d22.id}}').attr('method'),
                                            data: $('#java1{{d22.id}}').serialize(),
                                            success: function(data) {
                                              $("#re").html(data);
                                            },
                                        });
                                      return false;
                                    }
                                  });
                                });
                            </script>
                          </td>
                          <td>{{ d22.abjava }}</td>
                          <td>{{ d22.spjava }}</td>
                          <td>{{ i }}</td>
                          <td>{{ d22.djava }}</td>
                        </tr>
                      {% endif %}
                    {% endfor %}{% endfor %}
                    <tr>
                      <td colspan="7"></td>
                      <td>{{ sjava }}</td>
                    </tr>
                    <tr>
                      <td colspan="7"></td>
                      <td></td>
                    </tr>
                    {% for d33 in d3 %}{% for i in list2 %}
                      {% if forloop.counter == forloop.parentloop.counter %}
                        <tr id="t">
                          <td>{{ d33.name }}</td>
                          <td>PHP</td>
                          {% for b in band %}
                          <td>{{ b.dev_working }}</td>
                          {% endfor %}
                          <td>
                            {{ d33.planned }}
                            <form method="get" id="php{{d33.id}}">
                              <input type="number" name="leave1" min="0" value="0">
                              <input type="hidden" value="{{ d33.id }}" name="leave2">
                              <input type="hidden" value="php" name="leave3">
                              <input type="submit" class="btn-xs btn-info" value="Assign" id="lvsub">
                          </td>
                          </form>
                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                  var frm = $('#php{{d33.id}}');
                                  frm.submit(function () {
                                    if (this.id == 'php{{d33.id}}'){
                                        $.ajax({
                                            type: $('#php{{d33.id}}').attr('method'),
                                            url: 'bandwidth/',
                                            data: $('#php{{d33.id}}').serialize(),
                                            success: function(data) {
                                              $("#re").html(data);
                                            },
                                        });
                                      return false;
                                    }
                                  });
                                });
                            </script>
                            <td>
                                {{ d33.unplanned }}
                                <form method="get" id="php1{{d33.id}}">
                                  <input type="number" name="uleave1" min="0" value="0">
                                  <input type="hidden" value="{{ d33.id }}" name="uleave2">
                                  <input type="hidden" value="php" name="uleave3">
                                  <input type="submit" class="btn-xs btn-info" value="Assign" id="lvsub">
                              </td>
                              </form>
                                <script type="text/javascript">
                                    jQuery(document).ready(function($){
                                      var frm = $('#php1{{d33.id}}');
                                      frm.submit(function () {
                                        if (this.id == 'php1{{d33.id}}'){
                                            $.ajax({
                                                type: $('#php1{{d33.id}}').attr('method'),
                                                url: 'bandwidth/',
                                                data: $('#php1{{d33.id}}').serialize(),
                                                success: function(data) {
                                                  $("#re").html(data);
                                                },
                                            });
                                          return false;
                                        }
                                      });
                                    });
                                </script>
                            </td>
                          <td>
                            {{ d33.vfphp }}
                            <form method="get" id="php1{{d33.id}}">
                              <input type="number" name="assign1" step="0.1" min="0" value="1">
                              <input type="hidden" value="{{ d33.id }}" name="assign2">
                              <input type="hidden" value="php" name="assign3">
                              <input type="submit" class="btn-xs btn-info" value="Assign">
                            </form>
                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                  var frm = $('#php1{{d33.id}}');
                                  frm.submit(function () {
                                    if (this.id == 'php1{{d33.id}}'){
                                        $.ajax({
                                            type: $('#php1{{d33.id}}').attr('method'),
                                            url: 'bandwidth/',
                                            data: $('#php1{{d33.id}}').serialize(),
                                            success: function(data) {
                                              $("#re").html(data);
                                            },
                                        });
                                      return false;
                                    }
                                  });
                                });
                            </script>
                          </td>
                          <td>{{ d33.abphp }}</td>
                          <td>{{ d33.spphp }}</td>
                          <td>{{ i }}</td>
                          <td>{{ d33.dphp }}</td>
                        </tr>
                      {% endif %}
                    {% endfor %}{% endfor %}
                    <tr>
                      <td colspan="7"></td>
                      <td>{{ sphp }}</td>
                    </tr>
                    <tr>
                      <td colspan="7"></td>
                      <td></td>
                    </tr>
                    {% for d44 in d4 %}{% for i in list3 %}
                      {% if forloop.counter == forloop.parentloop.counter %}
                        <tr id="t">
                          <td>{{ d44.name }}</td>
                          <td>HTML</td>
                          {% for b in band %}
                          <td>{{ b.dev_working }}</td>
                          {% endfor %}
                          <td>
                            {{ d44.planned }}
                            <form method="get" id="html{{d44.id}}">
                              <input type="number" name="leave1" min="0" value="0">
                              <input type="hidden" value="{{ d44.id }}" name="leave2">
                              <input type="hidden" value="html" name="leave3">
                              <input type="submit" class="btn-xs btn-info" value="Assign" id="lvsub">
                          </td>
                          </form>
                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                  var frm = $('#html{{d44.id}}');
                                  frm.submit(function () {
                                    if (this.id == 'html{{d44.id}}'){
                                        $.ajax({
                                            type: $('#html{{d44.id}}').attr('method'),
                                            url: 'bandwidth/',
                                            data: $('#html{{d44.id}}').serialize(),
                                            success: function(data) {
                                              $("#re").html(data);
                                            },
                                        });
                                      return false;
                                    }
                                  });
                                });
                            </script>
                            <td>
                                {{ d44.unplanned }}
                                <form method="get" id="html1{{d44.id}}">
                                  <input type="number" name="uleave1" min="0" value="0">
                                  <input type="hidden" value="{{ d44.id }}" name="uleave2">
                                  <input type="hidden" value="html" name="uleave3">
                                  <input type="submit" class="btn-xs btn-info" value="Assign" id="lvsub">
                              </td>
                              </form>
                                <script type="text/javascript">
                                    jQuery(document).ready(function($){
                                      var frm = $('#html1{{d44.id}}');
                                      frm.submit(function () {
                                        if (this.id == 'html1{{d44.id}}'){
                                            $.ajax({
                                                type: $('#html1{{d44.id}}').attr('method'),
                                                url: 'bandwidth/',
                                                data: $('#html1{{d44.id}}').serialize(),
                                                success: function(data) {
                                                  $("#re").html(data);
                                                },
                                            });
                                          return false;
                                        }
                                      });
                                    });
                                </script>
                            </td>
                          <td>
                            {{ d44.vfhtml }}
                            <form method="get" id="html1{{d44.id}}">
                              <input type="number" name="assign1" step="0.1" min="0" value="1">
                              <input type="hidden" value="{{ d44.id }}" name="assign2">
                              <input type="hidden" value="html" name="assign3">
                              <input type="submit" class="btn-xs btn-info" value="Assign">
                            </form>
                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                  var frm = $('#html1{{d44.id}}');
                                  frm.submit(function () {
                                    if (this.id == 'html1{{d44.id}}'){
                                        $.ajax({
                                            type: $('#html1{{d44.id}}').attr('method'),
                                            url: 'bandwidth/',
                                            data: $('#html1{{d44.id}}').serialize(),
                                            success: function(data) {
                                              $("#re").html(data);
                                            },
                                        });
                                      return false;
                                    }
                                  });
                                });
                            </script>
                          </td>
                          <td>{{ d44.abhtml }}</td>
                          <td>{{ d44.sphtml }}</td>
                          <td>{{ i }}</td>
                          <td>{{ d44.dhtml }}</td>
                        </tr>
                      {% endif %}
                    {% endfor %}{% endfor %}
                    <tr>
                      <td colspan="7"></td>
                      <td>{{ shtml }}</td>
                      </tr>
                    <tr>
                      <td colspan="7"></td>
                      <td></td>
                    </tr>
                    {% for d55 in d5 %}{% for i in list4 %}
                      {% if forloop.counter == forloop.parentloop.counter %}
                        <tr id="t">
                          <td>{{ d55.name }}</td>
                          <td>QA</td>
                          {% for b in band %}
                          <td>{{ b.qa_working }}</td>
                          {% endfor %}
                          <td>
                            {{ d55.planned }}
                            <form method="get" id="qa{{d55.id}}">
                              <input type="number" name="leave1" min="0" value="0">
                              <input type="hidden" value="{{ d55.id }}" name="leave2">
                              <input type="hidden" value="qa" name="leave3">
                              <input type="submit" class="btn-xs btn-info" value="Assign" id="lvsub">
                          </td>
                          </form>
                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                  var frm = $('#qa{{d55.id}}');
                                  frm.submit(function () {
                                    if (this.id == 'qa{{d55.id}}'){
                                        $.ajax({
                                            type: $('#qa{{d55.id}}').attr('method'),
                                            url: 'bandwidth/',
                                            data: $('#qa{{d55.id}}').serialize(),
                                            success: function(data) {
                                              $("#re").html(data);
                                            },
                                        });
                                      return false;
                                    }
                                  });
                                });
                            </script>
                            <td>
                                {{ d55.unplanned }}
                                <form method="get" id="qa1{{d55.id}}">
                                  <input type="number" name="uleave1" min="0" value="0">
                                  <input type="hidden" value="{{ d55.id }}" name="uleave2">
                                  <input type="hidden" value="qa" name="uleave3">
                                  <input type="submit" class="btn-xs btn-info" value="Assign" id="lvsub">
                              </td>
                              </form>
                                <script type="text/javascript">
                                    jQuery(document).ready(function($){
                                      var frm = $('#qa1{{d55.id}}');
                                      frm.submit(function () {
                                        if (this.id == 'qa1{{d55.id}}'){
                                            $.ajax({
                                                type: $('#qa1{{d55.id}}').attr('method'),
                                                url: 'bandwidth/',
                                                data: $('#qa1{{d55.id}}').serialize(),
                                                success: function(data) {
                                                  $("#re").html(data);
                                                },
                                            });
                                          return false;
                                        }
                                      });
                                    });
                                </script>
                            </td>
                          <td>
                            {{ d55.vfqa }}
                            <form method="get" id="qa1{{d55.id}}">
                              <input type="number" name="assign1" step="0.1" min="0" value="1">
                              <input type="hidden" value="{{ d55.id }}" name="assign2">
                              <input type="hidden" value="qa" name="assign3">
                              <input type="submit" class="btn-xs btn-info" value="Assign">
                            </form>
                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                  var frm = $('#qa1{{d55.id}}');
                                  frm.submit(function () {
                                    if (this.id == 'qa1{{d55.id}}'){
                                        $.ajax({
                                            type: $('#qa1{{d55.id}}').attr('method'),
                                            url: 'bandwidth/',
                                            data: $('#qa1{{d55.id}}').serialize(),
                                            success: function(data) {
                                              $("#re").html(data);
                                            },
                                        });
                                      return false;
                                    }
                                  });
                                });
                            </script>
                          </td>
                          <td>{{ d55.abqa }}</td>
                          <td>{{ d55.spqa }}</td>
                          <td>{{ i }}</td>
                          <td>{{ d55.dqa }}</td>
                        </tr>
                      {% endif %}
                    {% endfor %}{% endfor %}
                    <tr>
                      <td colspan="7"></td>
                      <td>{{ sqa }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="content" id="s">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Sprint Details</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="tab2" style="width:100%">
                  <tbody>
                    <tr>
                      <th>Sprint Start Date</th>
                      {% for b in band %}
                        <td>{{ b.sprint_start_date }}</td>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Sprint Dev End Date</th>
                      {% for b in band %}
                        <td>{{ b.sprint_dev_end_date }}</td>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Sprint QA End Date</th>
                      {% for b in band %}
                        <td>{{ b.sprint_qa_end_date }}</td>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Holidays</th>
                      {% for b in band %}
                        <td>{{ b.holidays }}</td>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Dev Working Days</th>
                      {% for b in band %}
                        <td>{{ b.dev_working }}</td>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>QA Working Days</th>
                      {% for b in band %}
                        <td>{{ b.qa_working }}</td>
                      {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>

</html>
