{% include 'home.html' %}
{% include 'nav.html' %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.js" integrity="sha256-ZIgVXws0JSyxy1OmqGeFYUsfoNr22H2o4dMlFBrKLUU=" crossorigin="anonymous"></script>
<link href="/static/new/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/bandwidth.css">

<body id="re">

  {% block nav %}
  {% endblock %}

  <!-- Content Row -->
  <div class="container-fluid">

    <div class="row">

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Project</div>
                <form class="post-form" method='POST' id="h">
                  {% csrf_token %}
                  <!-- onchange="myFunction(this.value)" -->
                    <select class="js-example-basic-single" name="select_project">
                        <option selected="true" disabled>{{ nx }}</option>
                      {% for n1 in n0 %}
                        <option>{{ n1.name }}</option>
                      {% endfor %}
                    </select>
                </form>

                <script>
                  $(document).ready(function() {
                      var frm = $('#h');
                      frm.on('change',function (e) {
                        e.preventDefault();
                          $.ajax({
                              type: frm.attr('method'),
                              data: frm.serialize(),
                              success: function(data) {
                                $("#re").html(data);
                              },
                          });
                      });
                    });
                </script>

              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sprint</div>

                  <form class="post-form" method='POST' id="f5">
                   {% csrf_token %}
                     <select class="js-example-basic-single" name="select_sprint">
                       <option selected="true" disabled>{{ nx1 }}</option>
                       {% for product in data1 %}
                       <option> {{ product.name }}</option>
                         {% endfor %}
                     </select>
                 </form>

                 <script>
                   $(document).ready(function() {
                       var frm = $('#f5');
                       frm.on('change',function (e) {
                         e.preventDefault();
                           $.ajax({
                               type: frm.attr('method'),
                               data: frm.serialize(),
                               success: function(data) {
                                 $("#re").html(data);
                               },
                           });
                       });
                     });
                 </script>

              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

        <div class="container-fluid row">
          <div class="card shadow mb-4">
            <div class="table100 ver3">
              <table class="table" id="tab2" data-vertable="ver1">
                <thead class="text-primary">
                  <th>Name</th>
                  <th>Skill</th>
                  <th>Available Days</th>
                  <th>Planned Leaves</th>
                  <th>Unplanned Leaves</th>
                  <th>Velocity Factor</th>
                  <th>Available Bandwidth</th>
                  <th>Story Points</th>
                  <th>Assigned</th>
                  <th>Delta</th>
                </thead>
                <tbody>
                  {% for d22 in d2 %}{% for i in list1 %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                      <tr id="t">
                        <td>{{ d22.name }}</td>
                        <td>JAVA</td>
                        {% for b in band %}
                        <td>{{ b.dev_working }}</td>
                        {% endfor %}
                        <td>
                          {{ d22.planned }}
                          <form method="get" id="java{{d22.id}}">
                            <input type="number" name="leave1" min="0" value="0" style="width:70px;">
                            <input type="hidden" value="{{ d22.id }}" name="leave2">
                            <input type="hidden" value="java" name="leave3">
                            <p></p>
                            <input type="submit" class="btn example_c" value="Assign" id="lvsub">
                          </form>
                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                  var frm = $('#java{{d22.id}}');
                                  frm.submit(function (){
                                    if (this.id == 'java{{d22.id}}'){
                                        $.ajax({
                                            type: $('#java{{d22.id}}').attr('method'),
                                            data: $('#java{{d22.id}}').serialize(),
                                            success: function(data) {
                                              $("#re").html(data);
                                            },
                                        });
                                      return false;
                                    }
                                  });
                                });
                            </script>
                        </td>
                        <td>
                            {{ d22.unplanned }}
                            <form method="get" id="java1{{d22.id}}">
                              <input type="number" name="uleave1" min="0" value="0" style="width:70px;">
                              <input type="hidden" value="{{ d22.id }}" name="uleave2">
                              <input type="hidden" value="java" name="uleave3">
                              <p></p>
                              <input type="submit" class="btn example_c" value="Assign" id="lvsub">
                            </form>
                              <script type="text/javascript">
                                  jQuery(document).ready(function($){
                                    var frm = $('#java1{{d22.id}}');
                                    frm.submit(function (){
                                      if (this.id == 'java1{{d22.id}}'){
                                          $.ajax({
                                              type: $('#java1{{d22.id}}').attr('method'),
                                              data: $('#java1{{d22.id}}').serialize(),
                                              success: function(data) {
                                                $("#re").html(data);
                                              },
                                          });
                                        return false;
                                      }
                                    });
                                  });
                              </script>
                        </td>
                        <td>
                          {{ d22.vfjava }}
                          <form method="get" id="java1{{d22.id}}">
                            <input type="number" name="assign1" step="0.1" min="0" value="1" style="width:70px;">
                            <input type="hidden" value="{{ d22.id }}" name="assign2">
                            <input type="hidden" value="java" name="assign3">
                            <p></p>
                            <input type="submit" class="btn example_c" value="Assign">
                          </form>
                          <script type="text/javascript">
                              jQuery(document).ready(function($){
                                var frm = $('#java1{{d22.id}}');
                                frm.submit(function (){
                                  if (this.id == 'java1{{d22.id}}'){
                                      $.ajax({
                                          type: $('#java1{{d22.id}}').attr('method'),
                                          data: $('#java1{{d22.id}}').serialize(),
                                          success: function(data) {
                                            $("#re").html(data);
                                          },
                                      });
                                    return false;
                                  }
                                });
                              });
                          </script>
                        </td>
                        <td>{{ d22.abjava }}</td>
                        <td>{{ d22.spjava }}</td>
                        <td>{{ i }}</td>
                        <td>{{ d22.djava }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}{% endfor %}
                  <tr>
                    <td colspan="7" style="color:black;background:#ededed;"></td>
                    <td style="color:black;background:#ededed;">{{ sjava }}</td>
                  </tr>
                  <tr>
                    <td colspan="7"></td>
                    <td></td>
                  </tr>
                  {% for d33 in d3 %}{% for i in list2 %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                      <tr id="t">
                        <td>{{ d33.name }}</td>
                        <td>PHP</td>
                        {% for b in band %}
                        <td>{{ b.dev_working }}</td>
                        {% endfor %}
                        <td>
                          {{ d33.planned }}
                          <form method="get" id="php{{d33.id}}">
                            <input type="number" name="leave1" min="0" value="0" style="width:70px;">
                            <input type="hidden" value="{{ d33.id }}" name="leave2">
                            <input type="hidden" value="php" name="leave3">
                            <p></p>
                            <input type="submit" class="btn example_c" value="Assign" id="lvsub">
                        </form>
                          <script type="text/javascript">
                              jQuery(document).ready(function($){
                                var frm = $('#php{{d33.id}}');
                                frm.submit(function () {
                                  if (this.id == 'php{{d33.id}}'){
                                      $.ajax({
                                          type: $('#php{{d33.id}}').attr('method'),
                                          url: 'bandwidth/',
                                          data: $('#php{{d33.id}}').serialize(),
                                          success: function(data) {
                                            $("#re").html(data);
                                          },
                                      });
                                    return false;
                                  }
                                });
                              });
                          </script>
                        </td>
                          <td>
                              {{ d33.unplanned }}
                              <form method="get" id="php1{{d33.id}}">
                                <input type="number" name="uleave1" min="0" value="0" style="width:70px;">
                                <input type="hidden" value="{{ d33.id }}" name="uleave2">
                                <input type="hidden" value="php" name="uleave3">
                                <p></p>
                                <input type="submit" class="btn example_c" value="Assign" id="lvsub">
                            </form>
                              <script type="text/javascript">
                                  jQuery(document).ready(function($){
                                    var frm = $('#php1{{d33.id}}');
                                    frm.submit(function () {
                                      if (this.id == 'php1{{d33.id}}'){
                                          $.ajax({
                                              type: $('#php1{{d33.id}}').attr('method'),
                                              url: 'bandwidth/',
                                              data: $('#php1{{d33.id}}').serialize(),
                                              success: function(data) {
                                                $("#re").html(data);
                                              },
                                          });
                                        return false;
                                      }
                                    });
                                  });
                              </script>
                          </td>
                        <td>
                          {{ d33.vfphp }}
                          <form method="get" id="php1{{d33.id}}">
                            <input type="number" name="assign1" step="0.1" min="0" value="1" style="width:70px;">
                            <input type="hidden" value="{{ d33.id }}" name="assign2">
                            <input type="hidden" value="php" name="assign3">
                            <p></p>
                            <input type="submit" class="btn example_c" value="Assign">
                          </form>
                          <script type="text/javascript">
                              jQuery(document).ready(function($){
                                var frm = $('#php1{{d33.id}}');
                                frm.submit(function () {
                                  if (this.id == 'php1{{d33.id}}'){
                                      $.ajax({
                                          type: $('#php1{{d33.id}}').attr('method'),
                                          url: 'bandwidth/',
                                          data: $('#php1{{d33.id}}').serialize(),
                                          success: function(data) {
                                            $("#re").html(data);
                                          },
                                      });
                                    return false;
                                  }
                                });
                              });
                          </script>
                        </td>
                        <td>{{ d33.abphp }}</td>
                        <td>{{ d33.spphp }}</td>
                        <td>{{ i }}</td>
                        <td>{{ d33.dphp }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}{% endfor %}
                  <tr>
                    <td colspan="7" style="color:black;background:#ededed;"></td>
                    <td style="color:black;background:#ededed;">{{ sphp }}</td>
                  </tr>
                  <tr>
                    <td colspan="7"></td>
                    <td></td>
                  </tr>
                  {% for d44 in d4 %}{% for i in list3 %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                      <tr id="t">
                        <td>{{ d44.name }}</td>
                        <td>HTML</td>
                        {% for b in band %}
                        <td>{{ b.dev_working }}</td>
                        {% endfor %}
                        <td>
                          {{ d44.planned }}
                          <form method="get" id="html{{d44.id}}">
                            <input type="number" name="leave1" min="0" value="0" style="width:70px;">
                            <input type="hidden" value="{{ d44.id }}" name="leave2">
                            <input type="hidden" value="html" name="leave3">
                            <p></p>
                            <input type="submit" class="btn example_c" value="Assign" id="lvsub">
                        </form>
                          <script type="text/javascript">
                              jQuery(document).ready(function($){
                                var frm = $('#html{{d44.id}}');
                                frm.submit(function () {
                                  if (this.id == 'html{{d44.id}}'){
                                      $.ajax({
                                          type: $('#html{{d44.id}}').attr('method'),
                                          url: 'bandwidth/',
                                          data: $('#html{{d44.id}}').serialize(),
                                          success: function(data) {
                                            $("#re").html(data);
                                          },
                                      });
                                    return false;
                                  }
                                });
                              });
                          </script>
                        </td>
                          <td>
                              {{ d44.unplanned }}
                              <form method="get" id="html1{{d44.id}}">
                                <input type="number" name="uleave1" min="0" value="0" style="width:70px;">
                                <input type="hidden" value="{{ d44.id }}" name="uleave2">
                                <input type="hidden" value="html" name="uleave3">
                                <p></p>
                                <input type="submit" class="btn example_c" value="Assign" id="lvsub">
                              </form>
                              <script type="text/javascript">
                                  jQuery(document).ready(function($){
                                    var frm = $('#html1{{d44.id}}');
                                    frm.submit(function () {
                                      if (this.id == 'html1{{d44.id}}'){
                                          $.ajax({
                                              type: $('#html1{{d44.id}}').attr('method'),
                                              url: 'bandwidth/',
                                              data: $('#html1{{d44.id}}').serialize(),
                                              success: function(data) {
                                                $("#re").html(data);
                                              },
                                          });
                                        return false;
                                      }
                                    });
                                  });
                              </script>
                            </td>
                        <td>
                          {{ d44.vfhtml }}
                          <form method="get" id="html1{{d44.id}}">
                            <input type="number" name="assign1" step="0.1" min="0" value="1" style="width:70px;">
                            <input type="hidden" value="{{ d44.id }}" name="assign2">
                            <input type="hidden" value="html" name="assign3">
                            <p></p>
                            <input type="submit" class="btn example_c" value="Assign">
                          </form>
                          <script type="text/javascript">
                              jQuery(document).ready(function($){
                                var frm = $('#html1{{d44.id}}');
                                frm.submit(function () {
                                  if (this.id == 'html1{{d44.id}}'){
                                      $.ajax({
                                          type: $('#html1{{d44.id}}').attr('method'),
                                          url: 'bandwidth/',
                                          data: $('#html1{{d44.id}}').serialize(),
                                          success: function(data) {
                                            $("#re").html(data);
                                          },
                                      });
                                    return false;
                                  }
                                });
                              });
                          </script>
                        </td>
                        <td>{{ d44.abhtml }}</td>
                        <td>{{ d44.sphtml }}</td>
                        <td>{{ i }}</td>
                        <td>{{ d44.dhtml }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}{% endfor %}
                  <tr>
                    <td colspan="7" style="color:black;background:#ededed;"></td>
                    <td style="color:black;background:#ededed;">{{ shtml }}</td>
                  </tr>
                  <tr>
                    <td colspan="7"></td>
                    <td></td>
                  </tr>
                  {% for d55 in d5 %}{% for i in list4 %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                      <tr id="t">
                        <td>{{ d55.name }}</td>
                        <td>QA</td>
                        {% for b in band %}
                        <td>{{ b.qa_working }}</td>
                        {% endfor %}
                        <td>
                          {{ d55.planned }}
                          <form method="get" id="qa{{d55.id}}">
                            <input type="number" name="leave1" min="0" value="0" style="width:70px;">
                            <input type="hidden" value="{{ d55.id }}" name="leave2">
                            <input type="hidden" value="qa" name="leave3">
                            <p></p>
                            <input type="submit" class="btn example_c" value="Assign" id="lvsub">
                          </form>
                          <script type="text/javascript">
                              jQuery(document).ready(function($){
                                var frm = $('#qa{{d55.id}}');
                                frm.submit(function () {
                                  if (this.id == 'qa{{d55.id}}'){
                                      $.ajax({
                                          type: $('#qa{{d55.id}}').attr('method'),
                                          url: 'bandwidth/',
                                          data: $('#qa{{d55.id}}').serialize(),
                                          success: function(data) {
                                            $("#re").html(data);
                                          },
                                      });
                                    return false;
                                  }
                                });
                              });
                          </script>
                        </td>
                          <td>
                              {{ d55.unplanned }}
                              <form method="get" id="qa1{{d55.id}}">
                                <input type="number" name="uleave1" min="0" value="0" style="width:70px;">
                                <input type="hidden" value="{{ d55.id }}" name="uleave2">
                                <input type="hidden" value="qa" name="uleave3">
                                <p></p>
                                <input type="submit" class="btn example_c" value="Assign" id="lvsub">
                              </form>
                              <script type="text/javascript">
                                  jQuery(document).ready(function($){
                                    var frm = $('#qa1{{d55.id}}');
                                    frm.submit(function () {
                                      if (this.id == 'qa1{{d55.id}}'){
                                          $.ajax({
                                              type: $('#qa1{{d55.id}}').attr('method'),
                                              url: 'bandwidth/',
                                              data: $('#qa1{{d55.id}}').serialize(),
                                              success: function(data) {
                                                $("#re").html(data);
                                              },
                                          });
                                        return false;
                                      }
                                    });
                                  });
                              </script>
                            </td>
                        <td>
                          {{ d55.vfqa }}
                          <form method="get" id="qa1{{d55.id}}">
                            <input type="number" name="assign1" step="0.1" min="0" value="1" style="width:70px;">
                            <input type="hidden" value="{{ d55.id }}" name="assign2">
                            <input type="hidden" value="qa" name="assign3">
                            <p></p>
                            <input type="submit" class="btn example_c" value="Assign">
                          </form>
                          <script type="text/javascript">
                              jQuery(document).ready(function($){
                                var frm = $('#qa1{{d55.id}}');
                                frm.submit(function () {
                                  if (this.id == 'qa1{{d55.id}}'){
                                      $.ajax({
                                          type: $('#qa1{{d55.id}}').attr('method'),
                                          url: 'bandwidth/',
                                          data: $('#qa1{{d55.id}}').serialize(),
                                          success: function(data) {
                                            $("#re").html(data);
                                          },
                                      });
                                    return false;
                                  }
                                });
                              });
                          </script>
                        </td>
                        <td>{{ d55.abqa }}</td>
                        <td>{{ d55.spqa }}</td>
                        <td>{{ i }}</td>
                        <td>{{ d55.dqa }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}{% endfor %}
                  <tr>
                    <td colspan="7" style="color:black;background:#ededed;"></td>
                    <td style="color:black;background:#ededed;">{{ sqa }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div class="container-fluid row">
          <div class="card shadow mb-4">
            <table class="table" id="tab2" style="width:100%">
              <tbody>
                <tr>
                  <th>Sprint Start Date</th>
                  {% for b in band %}
                    <td>{{ b.sprint_start_date }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Sprint Dev End Date</th>
                  {% for b in band %}
                    <td>{{ b.sprint_dev_end_date }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Sprint QA End Date</th>
                  {% for b in band %}
                    <td>{{ b.sprint_qa_end_date }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Holidays</th>
                  {% for b in band %}
                    <td>{{ b.holidays }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Dev Working Days</th>
                  {% for b in band %}
                    <td>{{ b.dev_working }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>QA Working Days</th>
                  {% for b in band %}
                    <td>{{ b.qa_working }}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>

  <!-- End of Page Wrapper -->


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#">
    <img src="/static/angle-up-solid.svg" style="width:30px;height:30px;">
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/new/sb-admin-2.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#tab2').tablesorter();
    });
  </script>

  <script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
      });
  </script>

</body>
{% endblock %}
