{% extends 'home.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/detail.css">

  <body id="re">

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black; font-size:12px;" id="mainNav">
    <div class="container">
      <a class="navbar-brand">Story Details</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'product' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'view_story' %}">Stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'qaprg' %}">Progress</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'bandwidth' %}">Bandwidth</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'tasks' %}l">Sprint Report</a>
          </li>
          <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color:black;"></button>
              <div class="dropdown-menu dropdown-menu-right">
                  <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                  <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
              </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <script>
  $(document).ready(function() {
      $('.js-example-basic-single').select2();
    });
  </script>

  <header class="header_area">
      <div class="main_menu">
      </div>
  </header>

  {% for i in st %}
	<div class="container" style="float:left;">
		<div class="row d-flex">
        <div class="col-md-6" id="spr">
          <div class="card">
            <div class="card-body">
							<div class="blog-entry ftco-animate d-md-flex">
								<div class="text text-2 pl-md-4">
                  <p>{{i.jira}}</p>
		              <h3><b>{{i.story_name}}</b></h3>
                  {% if i.ostatus == '' %}
                    <p>Unassigned</p>
                  {% else %}
                    <p>{{i.ostatus}}</p>
                  {% endif %}
		              <p><a href="{{i.description}}" target="_blank" class="btn-custom">Read More</a></p>
                  <button class="btn example_c" type="button" name="comments">Comment</button>
		            </div>
							</div>
            </div>
          </div>
        </div>
      </div>
  	</div>

    <div class="col-md-6" id="check2">
      <div class="detailBox" style="max-height:none;background-color:white;">
        <div class="commentBox">
            <p class="taskDescription">Comments</p>
        </div>
        <div class="actionBox">
            <ul class="commentList" style="max-height:none;">

                  {% for j,k in comm.items %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                      {% for r,s in k.items %}
                        {% for y,z in s.items %}
                        <li>
                          <div class="commentText">
                              <p class="">{{y}}</p> <span class="date sub-text">{{z}}</span>
                          </div>
                        </li>
                        {% endfor %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
            </ul>
            <form class="form-inline" id="comm1" method='GET'>
                <div class="form-group">
                    <input class="form-control" type="text" name="comment_holder" placeholder="Your comment"/>
                </div>
                    <input type="hidden" name="sid" value="{{i.id}}">
                    <button class="btn example_c" type="submit">Add</button>
            </form>
        </div>
      </div>
    </div>
  {% endfor %}

  </body>

{% endblock %}
