{% include 'home.html' %}
{% include 'nav.html' %}

{% block content %}
<link href="/static/new/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/detail.css">
<link rel="stylesheet" href="/static/css/comment.css">
<link rel="stylesheet" href="/static/css/chatbox.css">


  <body id="re">

    {% block nav %}
    {% endblock %}

          {% for i in st %}
          <div class="container-fluid">
            <div>
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="blog-entry ftco-animate d-md-flex">
                        <div class="text text-2 pl-md-4">
                          <p>{{i.jira}}</p>
                          <h3 style="font-size:20px;"><b>{{stz.story_name}}</b></h3>
                          {% if stz.overall_status == '' %}
                            <p>Unassigned</p>
                          {% else %}
                            <p>{{ stz.overall_status }}</p>
                          {% endif %}
                          <p><a href="{{stz.description}}" target="_blank" class="btn-custom">Read More</a></p>
                        </div>
                      </div>
                      <form method="GET">
                        <textarea name="brief_desc" rows="3" cols="50" id="brief" style="font-size:13px;width:95%;margin-left:2%">{{stz.brief_description}}</textarea>
                        <p></p>
                        <input class="btn example_c" type="submit" value="Change" style="margin-left:2%">
                      </form>
                      <script type="text/javascript">
                        var txt = $('#brief'),
                            hiddenDiv = $(document.createElement('div')),
                            content = null;

                        txt.addClass('txtstuff');
                        hiddenDiv.addClass('hiddendiv common');

                        $('body').append(hiddenDiv);

                        txt.on('mouseover', function () {

                            content = $(this).val();

                            content = content.replace(/\n/g, '<br>');
                            hiddenDiv.html(content + '<br class="lbr">' + '<br class="lbr">');

                            $(this).css('height', hiddenDiv.height());

                        });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p></p>

          <div class="container-fluid">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="table100 ver3">
                  <table class="table" id="tab3" data-vertable="ver1" style="font-size:12px;">
                    <thead class="text-primary">
                      <th>Date</th>
                      <th>Developer</th>
                      <th>Work Done</th>
                      <th>Progress</th>
                    </thead>
                    <tbody>
                      {% for hist in history %}
                          <tr class="row100 head">
                            <td>{{ hist.0 }}</td>
                            <td>{{ hist.1 }}</td>
                            <td>{{ hist.2 }}</td>
                            <td>{{ hist.3 }}</td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-heading" id="accordion">
              <div class="btn-group pull-right">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="position:fixed;bottom:1.7%;z-index:999;right:1.2%;" onclick="scrollToBottom()">
                    <img src="/static/images/comment.png" style="height:50px;width:50px;">
                  </a>
              </div>
          </div>

          <!-- Collapsible chat box -->
          <div class="container" style="position:fixed;bottom:4.2%;left:35%;">
            <div class="row">
                <div style="background-color:rgba(0, 0, 0, .8);color:white;min-width:70%;max-width:70%;margin-right:0px;border-top-right-radius:10px;border-top-left-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;">
                    <div class="panel panel-primary">
                    <div class="panel-collapse collapse" id="collapseOne">

                      <div class="row no-gutters align-items-center">
                        <ul class="comment-section" style="font-size:12px;height: 80vh; overflow:auto" id='pan'>

                          {% for j,k in comm.items %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              {% for r,s in k.items %}
                                {% for p1 in picture %}
                                  {% if forloop.counter == forloop.parentloop.counter %}
                                    {% for y,z in s.items %}
                                      <!-- <button class="close" data-toggle="modal" data-target="#delete_Modal">
                                        <span style="color:white;margin-left:10%;">×</span>
                                      </button> -->
                                      <li class="comment user-comment">
                                        <div class="info" style="background:none;width:20%;font-size:10px;">
                                          <a style="color:white;">{{z}}</a>
                                          <a style="color:white;">{{r}}</a>
                                        </div>
                                        <a class="avatar">
                                          {% if p1 == '' %}
                                            <img src="/static/profile/pics/empty.png" alt="" style="height:35px;width:35px;border-radius: 50%;">
                                          {% else %}
                                            <img src="/media/{{p1}}" style="height:35px;width:35px;border-radius: 50%;" alt="Profile Avatar">
                                          {% endif %}
                                        </a>
                                        <p style="background:white;color:black;width:70%;">{{y}}</p>

                                      </li>
                                    {% endfor %}
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}


                          <li class="write-new">
                            <form method="get">
                              <textarea placeholder="Write your comment here." name="comment_holder"></textarea>
                              <div>
                                {% if pic == '' %}
                                  <img src="/static/profile/pics/empty.png" alt="" style="height:35px;width:35px;border-radius: 50%;">
                                {% else %}
                                  <img src="/media/{{pic.profile_picture}}" style="height:35px;width:35px;border-radius: 50%;">
                                {% endif %}
                                <input type="hidden" name="sid" value="{{i.id}}">
                                <button class="btn example_c" type="submit">Comment</button>
                              </div>
                            </form>
                          </li>
                        </ul>
                      </div>
                      <script>
                        function scrollToBottom() {
                          $(".comment-section").scrollTop($(".comment-section")[0].scrollHeight);
                        }
                      </script>
                      <!-- <script type="text/javascript">
                        $( document ).ready(function() {
                          $(".comment-section").scrollTop($(".comment-section")[0].scrollHeight);
                        });
                      </script> -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

  <!-- Scroll to Top Button-->
  <!-- <a class="scroll-to-top rounded" href="#re">
    <img src="/static/svg/angle-up-solid.svg" style="width:30px;height:30px;">
  </a> -->

  <!-- Comment Delete Modal -->
  <div class="modal fade" id="delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete the comment?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Delete" below if you want to delete this comment.</div>
        <div class="modal-footer">
          <form method="get">
            {% csrf_token %}
            <input type="hidden" name="developer" value="{{z}}">
            <input type="hidden" name="time" value="{{r}}">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit" name="delete">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/new/sb-admin-2.min.js"></script>

  <script>
  $(document).ready(function() {
      $('.js-example-basic-single').select2();
    });
  </script>

  <!-- js files for transition -->
  <!-- <script src="/static/landing/js/easing.js"></script>
  <script src="/static/landing/js/custom.js"></script> -->

  </body>

{% endblock %}
