{% include 'home.html' %}
{% include 'nav.html' %}

{% block content %}
<link href="/static/new/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/detail.css">

  <body id="re">

    {% block nav %}
    {% endblock %}

          {% for i in st %}
          <div class="container" style="float:left;">
            <div class="row d-flex">
                <div class="col-md-6" id="spr">
                  <div class="card">
                    <div class="card-body">
                      <div class="blog-entry ftco-animate d-md-flex">
                        <div class="text text-2 pl-md-4">
                          <p>{{i.jira}}</p>
                          <h3><b>{{i.story_name}}</b></h3>
                          {% if i.ostatus == '' %}
                            <p>Unassigned</p>
                          {% else %}
                            <p>{{i.ostatus}}</p>
                          {% endif %}
                          <p><a href="{{i.description}}" target="_blank" class="btn-custom">Read More</a></p>
                          <button class="btn example_c" type="button" name="comments">Comment</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6" id="check2">
              <div class="detailBox" style="max-height:none;background-color:white;">
                <div class="commentBox">
                    <p class="taskDescription">Comments</p>
                </div>
                <div class="actionBox">
                    <ul class="commentList" style="max-height:none;">

                          {% for j,k in comm.items %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              {% for r,s in k.items %}
                                {% for y,z in s.items %}
                                <li>
                                  <div class="commentText">
                                      <p class="">{{y}}</p> <span class="date sub-text">{{z}}</span>
                                  </div>
                                </li>
                                {% endfor %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                    </ul>
                    <form class="form-inline" id="comm1" method='GET'>
                        <div class="form-group">
                            <input class="form-control" type="text" name="comment_holder" placeholder="Your comment"/>
                        </div>
                            <input type="hidden" name="sid" value="{{i.id}}">
                            <button class="btn example_c" type="submit">Add</button>
                    </form>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <img src="/static/angle-up-solid.svg" style="width:30px;height:30px;">
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

<script src="/static/new/sb-admin-2.min.js"></script>

  <script>
  $(document).ready(function() {
      $('.js-example-basic-single').select2();
    });
  </script>

  </body>

{% endblock %}
