<!-- <link href="/static/css/loader.css" rel="stylesheet">

{% block loader %}
{% endblock %} -->

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <li class="nav-item active">
      <a class="nav-link" href="">
        <span>Sprint Management</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item --->
    <li class="nav-item active">
      <a class="nav-link" href="">
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      User Settings
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <span>Profile</span>
        <img src="/static/svg/portrait-solid.svg" style="width:22px;height:22px;" align='right'>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'profile' %}">Profile</a>
          <a class="collapse-item" href="{% url 'admin' %}" target="_blank">Superuser</a>
          <a class="collapse-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Pages
    </div>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'product' %}"><span>Home</span><img src="/static/svg/home-solid.svg" style="width:22px;height:22px;" align='right'></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'view_story' %}"><span>Stories</span><img src="/static/svg/poll-h-solid.svg" style="width:22px;height:22px;" align='right'></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'qaprg' %}"><span>Progress</span><img src="/static/svg/chart-line-solid.svg" style="width:22px;height:22px;" align='right'></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'bandwidth' %}"><span>Bandwidth</span><img src="/static/svg/calculator-solid.svg" style="width:22px;height:22px;" align='right'></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'tasks' %}l"><span>Sprint Report</span><img src="/static/svg/flag-checkered-solid.svg" style="width:22px;height:22px;" align='right'></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"><img src="/static/svg/code-solid-white.svg"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button class="rounded-circle border-0" id="sidebarToggleTop"><img src="/static/svg/code-solid.svg"></button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          {% if request.path == '/product/' %}
          {% elif request.path == '/profile/' %}
          {% elif request.path == '/story/' %}
          {% elif request.path == '/view_story/'%}
            <li class="nav-item">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <form class="post-form" method='POST' id="h" style="padding-top:10%; float:left;">
                    {% csrf_token %}
                      <!-- onchange="myFunction(this.value)" -->
                      <select class="js-example-basic-single" name="select_project">
                          <option selected="true" disabled>{{ nx }}</option>
                        {% for n1 in n %}
                          <option>{{ n1.name }}</option>
                        {% endfor %}
                      </select>
                  </form>

                  <script>
                    $(document).ready(function() {
                        var frm = $('#h');
                        frm.on('change',function (e) {
                          e.preventDefault();
                            $.ajax({
                                type: frm.attr('method'),
                                data: frm.serialize(),
                                success: function(data) {
                                  $("#re").html(data);
                                },
                            });
                        });
                      });
                  </script>

                  <form class="post-form" method='POST' id="f5" style="padding-top:10%;float:left;">
                    {% csrf_token %}
                      <select class="js-example-basic-single" name="select_sprint">
                        <option selected="true" disabled>{{ nx1 }}</option>
                        {% for product in data1 %}
                        <option> {{ product.name }}</option>
                          {% endfor %}
                      </select>
                  </form>

                  <script>
                    $(document).ready(function() {
                        var frm = $('#f5');
                        frm.on('change',function (e) {
                          e.preventDefault();
                            $.ajax({
                                type: frm.attr('method'),
                                data: frm.serialize(),
                                success: function(data) {
                                  $("#re").html(data);
                                },
                            });
                        });
                      });
                  </script>
                </div>
              </div>

              <div class="row no-gutters align-items-center">
                <div class="col mr-2">

                </div>
              </div>

            </li>
            {% else %}
            <li class="nav-item">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <form class="post-form" method='POST' id="h" style="padding-top:10%; float:left;">
                    {% csrf_token %}
                      <!-- onchange="myFunction(this.value)" -->
                      <select class="js-example-basic-single" name="select_project">
                          <option selected="true" disabled>{{ nx }}</option>
                        {% for n1 in n0 %}
                          <option>{{ n1.name }}</option>
                        {% endfor %}
                      </select>
                  </form>

                  <script>
                    $(document).ready(function() {
                        var frm = $('#h');
                        frm.on('change',function (e) {
                          e.preventDefault();
                            $.ajax({
                                type: frm.attr('method'),
                                data: frm.serialize(),
                                success: function(data) {
                                  $("#re").html(data);
                                },
                            });
                        });
                      });
                  </script>

                  <form class="post-form" method='POST' id="f5" style="padding-top:10%;float:left;">
                    {% csrf_token %}
                      <select class="js-example-basic-single" name="select_sprint">
                        <option selected="true" disabled>{{ nx1 }}</option>
                        {% for product in data1 %}
                        <option> {{ product.name }}</option>
                          {% endfor %}
                      </select>
                  </form>

                  <script>
                    $(document).ready(function() {
                        var frm = $('#f5');
                        frm.on('change',function (e) {
                          e.preventDefault();
                            $.ajax({
                                type: frm.attr('method'),
                                data: frm.serialize(),
                                success: function(data) {
                                  $("#re").html(data);
                                },
                            });
                        });
                      });
                  </script>
                </div>
              </div>

              <div class="row no-gutters align-items-center">
                <div class="col mr-2">

                </div>
              </div>

            </li>
          {% endif %}
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{name}}</span>
              <img src="/media/{{pic.profile_picture}}" style="height:32px;width:32px;border-radius: 50%;">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{% url 'profile' %}">
                Profile
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                Logout
              </a>
            </div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

{% block nav %}
{% endblock %}
