{% include 'home.html' %}
{% include 'nav.html' %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.js" integrity="sha256-ZIgVXws0JSyxy1OmqGeFYUsfoNr22H2o4dMlFBrKLUU=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="/static/new/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/forms/material-design-iconic-font.min.css">
<link rel="stylesheet" href="/static/forms/style.css"/>
<link rel="stylesheet" href="/static/datepicker/datepicker.css"/>
<link rel="stylesheet" href="/static/datepicker/jquery.css"/>

<body id="re">

  {% block nav %}
  {% endblock %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="{% url 'tasks' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Project</div>
                      <p></p>
                      <button style="font-size: 15px; color: white; background: #4e73df; border: 1px solid #4e73df;border-radius:5px 5px 5px 5px;" data-toggle="modal" data-target="#project_Modal" id="project_btn"><small>New Project</small></button>
                        <p></p>
                      <form class="post-form" method='POST' id="h">
                        {% csrf_token %}
                        <!-- onchange="myFunction(this.value)" -->
                          <select class="js-example-basic-single" name="select_project">
                              <option selected="true" disabled>{{ nx }}</option>
                            {% for n1 in n %}
                              <option>{{ n1.name }}</option>
                            {% endfor %}
                          </select>
                      </form>

                      <script>
                        $(document).ready(function() {
                            var frm = $('#h');
                            frm.on('change',function (e) {
                              e.preventDefault();
                                $.ajax({
                                    type: frm.attr('method'),
                                    data: frm.serialize(),
                                    success: function(data) {
                                      $("#re").html(data);
                                      if ($(".pre-loader").length > 0)
                                      {
                                          $(".pre-loader").fadeOut("slow");
                                      }
                                    },
                                });
                            });
                          });
                      </script>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sprint</div>
                      <p></p>
                      <button style="font-size: 15px; color: white; background: #1cc88a; border: 1px solid #1cc88a; border-radius:5px 5px 5px 5px;" data-toggle="modal" data-target="#sprint_Modal" id="sprint_btn"><small>New Sprint</small></button>
                      <p></p>
                      <form class="post-form" method='POST' id="f5">
                        {% csrf_token %}
                          <select class="js-example-basic-single" name="select_sprint">
                            <option selected="true" disabled>{{ hx2 }}</option>
                            {% for product in data %}
                            <option> {{ product.name }}</option>
                              {% endfor %}
                          </select>
                      </form>

                      <script>
                        $(document).ready(function() {
                            var frm = $('#f5');
                            frm.on('change',function (e) {
                              e.preventDefault();
                                $.ajax({
                                    type: frm.attr('method'),
                                    data: frm.serialize(),
                                    success: function(data) {
                                      $("#re").html(data);
                                      if ($(".pre-loader").length > 0)
                                      {
                                          $(".pre-loader").fadeOut("slow");
                                      }
                                    },
                                });
                            });
                          });
                      </script>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="modal fade" id="project_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="border-top-left-radius:10px;border-bottom-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="width:850px;" >

                <div class="page-content">
                  <div class="form-v10-content">
                    <form class="form-detail" method="post">
                      <div class="form-left">
                      </div>
                        <div class="form-right">
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close" style="color:white; padding-right:4%;padding-top:3%;">
                            <span aria-hidden="true">×</span>
                          </button>
                          {% csrf_token %}
                          <h2>Create Project</h2>
                          <div class="form-row">
                            <input type="text" name="pname" class="street" placeholder="Project Name" required>
                          </div>
                          <div class="form-group">
                            <div class="form-row form-row-1">
                              <label style="color:white;"><small>Select Admin</small></label>
                              <select class="js-example-basic-single" name="select_admin">
                                {% for n2 in list11 %}
                                  <option>{{ n2 }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-row form-row-1">
                              <label style="color:white;"><small>Select Developers</small></label>
                              <select class="js-example-basic-single" name="select_users[]" style="width:100%;" multiple>
                                {% for n2 in z2 %}
                                  <option>{{ n2.uname }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-row form-row-1">
                              <label style="color:white;"><small>Select Managers</small></label>
                              <select class="js-example-basic-single" name="select_manager[]" style="width:100%;" multiple>
                                {% for n2 in z2 %}
                                  <option>{{ n2.uname }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>

                          <div class="form-row-last">
                            <input type="submit" name='project_button' id='reg1' class="register" value="Create Project">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="modal fade" id="sprint_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:850px;">

                  <div class="page-content">
                    <div class="form-v10-content">
                      <form class="form-detail" method="post">
                        <div class="form-left">
                        </div>
                          <div class="form-right">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close" style="color:white; padding-right:4%;padding-top:3%;">
                              <span aria-hidden="true">×</span>
                            </button>
                            {% csrf_token %}
                            <h2>Create Sprint</h2>
                            <div class="form-row">
                              <label style="color:white;"><small>Sprint Name</small></label>
                              {{ form.name }}
                            </div>
                            <div class="form-group">
                              <div class="form-row form-row-1">
                                <label style="color:white;"><small>Sprint Start Date</small></label>
                              </div>
                              <div class="form-row form-row-1">
                                <input type="text" name="start" class="datepicker ll-skin-nigran" id="datepicker1" style="width:140px;">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="form-row form-row-1">
                                <label style="color:white;"><small>Sprint Developer End Date</small></label>
                              </div>
                              <div class="form-row form-row-1">
                                <input type="text" name="dev" class="datepicker ll-skin-nigran" id="datepicker2" style="width:140px;">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="form-row form-row-1">
                                <label style="color:white;"><small>Sprint QA End Date</small></label>
                              </div>
                              <div class="form-row form-row-1">
                                <input type="text" name="qa" class="datepicker ll-skin-nigran" id="datepicker3" style="width:140px;">
                              </div>
                            </div>
                            <div class="form-row">
                              <label style="color:white;"><small>Holidays</small></label>
                              {{ form.holidays }}
                            </div>

                            <div class="form-row-last">
                              <input type="submit" name='sprint_button' id='reg1' class="register" value="Create Sprint">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div>
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Developer Overview Graph</h6>
                  <form method='POST' id="f4">
                    {% csrf_token %}
                    <select class="js-example-basic-single" name="select_user" style="width:resolve;">
                        <option selected="true" disabled>{{ hx1 }}</option>
                        {% for n1 in s22 %}
                          <option>{{ n1.name }}</option>
                        {% endfor %}
                        <option disabled>---------------------</option>
                        <option>Java Dev</option>
                        <option>PHP Dev</option>
                        <option>HTML Dev</option>
                        <option>QA Dev</option>
                        <option disabled>---------------------</option>
                        <option>All Developers</option>
                    </select>
                  </form>

                  <script>
                    $(document).ready(function() {
                        var frm = $('#f4');
                        frm.on('change',function (e) {
                          e.preventDefault();
                            $.ajax({
                                type: frm.attr('method'),
                                data: frm.serialize(),
                                success: function(data) {
                                  $("#re").html(data);
                                  if ($(".pre-loader").length > 0)
                                  {
                                      $(".pre-loader").fadeOut("slow");
                                  }
                                },
                            });
                        });
                      });
                  </script>
                </div>

                <!-- Card Body -->
                <div class="card-body" style="width:1000px;height:540px;">
                  <div class="chart-area">
                    <canvas id="myChart1"></canvas>
                  </div>
                </div>
                <script>
                var ctx = document.getElementById('myChart1');
                var data6  = JSON.parse('{{ jd8|escapejs }}');
                var val1  = JSON.parse('{{ val|escapejs }}');
                var nval1  = JSON.parse('{{ nval|escapejs }}');

                if(val1=='Single'){
                  var myChart = new Chart(ctx, {
                      type: 'bar',

                      data: {
                          labels: ['Available Bandwidth','Story Points Assigned','Story Points Completed'],
                          datasets: [{
                            label: 'Developers Chart',
                              data: data6,
                              backgroundColor: [
                                  'rgba(75, 192, 192, 0.4)',
                                  'rgba(54, 162, 235, 0.4)',
                                  'rgba(255, 206, 86, 0.4)'
                              ],
                              borderColor: [
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)'
                              ],
                              borderWidth: 1
                          }]
                      },

                      options: {
                          scales: {
                              yAxes: [{
                                  ticks: {
                                      beginAtZero: true
                                  }
                              }]
                          }
                      }
                  });
                }

                else{
                  data7=[]
                  data8=[]
                  data9=[]
                  data10=[]
                  for(let i=0;i<Object.keys(data6).length;i+=3){
                     data8.push(data6[i])
                     data9.push(data6[i+1])
                     data10.push(data6[i+2])
                 }
                 for(let i=0;i<Object.keys(nval1).length;i++){
                    data7.push(nval1[i])
                }
                  var myChart = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: data7,
                          datasets: [{
                            label: 'Available Bandwidth',
                              data: data8,
                              backgroundColor: 'rgba(75, 192, 192, 0.4)',
                              borderColor: 'rgba(75, 192, 192, 1)',
                              borderWidth: 1
                          },
                          {
                            label: 'Story Points Assigned',
                              data: data9,
                              backgroundColor: 'rgba(54, 162, 235, 0.4)',
                              borderColor: 'rgba(54, 162, 235, 1)',
                              borderWidth: 1
                          },
                          {
                            label: 'Story Points Completed',
                              data: data10,
                              backgroundColor: 'rgba(255, 206, 86, 0.4)',
                              borderColor: 'rgba(255, 206, 86, 1)',
                              borderWidth: 1
                          }]
                      },
                      options: {
                          scales: {
                              yAxes: [{
                                  ticks: {
                                      beginAtZero: true
                                  }
                              }]
                          }
                      }
                  });
                }
                </script>
              </div>
            </div>
          </div>

          <div class="row">

            <!-- Area Chart -->
            <div>
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Sprint Burndown Graph</h6>
                </div>

                <!-- Card Body -->
                <div class="card-body" style="width:1000px;height:540px;">
                  <div class="chart-area">
                    <canvas id="burndown43"></canvas>
                  </div>
                </div>
                <script>
                    function showBurnDown(elementId, burndownData, newdata) {
                      var speedCanvas = document.getElementById(elementId);
                      Chart.defaults.global.defaultFontFamily = "Montserrat";
                      Chart.defaults.global.defaultFontSize = 10;
                      var data1  = JSON.parse('{{ jd1|escapejs }}');
                      // console.log(data1);
                      var ctx = document.getElementById('burndown43').getContext("2d");
                      var gradientFill = ctx.createLinearGradient(500, 0, 100, 0);gradientFill.addColorStop(0, "rgba(128, 182, 244, 0.4)");gradientFill.addColorStop(1, "rgba(244, 144, 128, 0.4)");
                      var speedData = {
                        labels: data1,
                        datasets: [
                          {
                            label: "Points Left",
                            data: burndownData,
                            fill: false,
                            borderColor: "rgba(72,42,156,.4)",
                            backgroundColor: "rgba(72,42,156,.5)",
                            lineTension: 0,
                          },
                          {
                            label: "Ideal Points Left",
                            data: newdata,
                            fill: true,
                            // fillColor: gradient,
                            borderColor: gradientFill,
                            lineTension: 0,
                            backgroundColor: gradientFill,
                          },
                        ]
                      };

                      var chartOptions = {
                        legend: {
                          display: true,
                          position: 'top',
                          labels: {
                            boxWidth: 30,
                            fontColor: 'black'
                          }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    max: Math.round(burndownData[0] * 1.1)
                                }
                            }]
                        }
                      };

                      var lineChart = new Chart(speedCanvas, {
                        type: 'line',
                        data: speedData,
                        options: chartOptions
                      });

                    }
                </script>
                <script>
                  var data2  = JSON.parse('{{ jd5|escapejs }}');
                  var data3  = JSON.parse('{{ jd6|escapejs }}');
                  showBurnDown ("burndown43",data2,data3);
                </script>
              </div>
            </div>
          </div>
    <!-- End of Content Wrapper -->

    <div class="row">

      <!-- Area Chart -->
      <div>
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Story Overview Pie Chart</h6>
          </div>

          <!-- Card Body -->
          <div class="card-body" style="width:1000px;height:540px;">
            <div class="chart-area">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <script>
          var ctx = document.getElementById('myChart');
          var data7  = JSON.parse('{{ jd7|escapejs }}');
          var myChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                  labels: ['Completed','QA','In Progress','Unassigned'],
                  datasets: [{
                      data: data7,
                      backgroundColor: [
                          'rgba(75, 192, 192, 0.4)',
                          'rgba(54, 162, 235, 0.4)',
                          'rgba(255, 206, 86, 0.4)',
                          'rgba(255, 99, 132, 0.4)'
                      ],
                      borderColor: [
                          'rgba(75, 192, 192, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(255, 99, 132, 1)'
                      ],
                      borderWidth: 1
                  }],
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  }
              }
          });
          </script>

        </div>
      </div>
    </div>

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#">
    <img src="/static/svg/angle-up-solid.svg" style="width:30px;height:30px;">
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var overlay = document.getElementById("overlay");
    window.addEventListener('load', function(){
      overlay.style.display = 'none';
    })
  </script>

  <script src="/static/new/sb-admin-2.min.js"></script>

  <script>
    $( function() {
      $( "#datepicker1" ).datepicker({
        dateFormat: 'yy-mm-dd'
      }).datepicker('widget').wrap('<div class="ll-skin-nigran"/>');
      $( "#datepicker2" ).datepicker({
        dateFormat: 'yy-mm-dd'
      }).datepicker('widget').wrap('<div class="ll-skin-nigran"/>');
      $( "#datepicker3" ).datepicker({
        dateFormat: 'yy-mm-dd'
      }).datepicker('widget').wrap('<div class="ll-skin-nigran"/>');
    } );
  </script>
  <script>
    $(document).ready(function($) {
      $('.js-example-basic-single').select2();
    }(jQuery));
  </script>

</body>
{% endblock %}
