<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Product Console
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
   <!-- Cdn for chart.js -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/paper-dashboard.css' %}">

    <script>
      $(function () {
        $("#datetimepicker1").datetimepicker({
          format: 'DD/MM/YYYY',
        });
        $("#datetimepicker2").datetimepicker({
          format: 'DD/MM/YYYY',
        });
        $("#datetimepicker3").datetimepicker({
          format: 'DD/MM/YYYY',
        });
      });
    </script>

  <style media="screen">
      .scrollable-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
    }
    body{
      font-family: Montserrat;
      background :#F3F3F3;
    }
    #spr{
      padding-top: 70px;
    }
    input[type="text"]::placeholder,input[type="password"]::placeholder{
      color:lightgrey;
    }
    #back{
      background-color: #f2f5f2;
    }
    #a{
      background-color: white;
      color:black;
    }
    #f,#g{
      width:550px;
      padding-left: 15px;
      font:10px;
    }
    .bootstrap-datetimepicker-widget.dropdown-menu{
      width:20rem;
    }
    #change{
      color:grey;
      padding-left: 15px;
      padding-top: 5px;
    }
    .example_c {
    color: black;
    background: lightgrey;
    border: 1px solid lightgrey;
    transition: all 0.4s ease 0s;
    }
    .example_c:hover {
    background: #303D39;
    border: 1px solid #303D39;
    transition: all 0.4s ease 0s;
    }
    .js-example-basic-single{
      width: 20%;
    }
    .example_d {
    color: white;
    background: black;
    border: 1px solid black;
    transition: all 0.4s ease 0s;
    }
    .example_d:hover {
    background: white;
    border: 1px solid white;
    transition: all 0.4s ease 0s;
    }

  </style>

  {% if messages %}
    <script>
      {% for message in messages %}
        alert("{{ message }}");
      {% endfor %}
    </script>
  {% endif %}

  </head>

  <body id="re">
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large"
      onclick="w3_close()">Close &times;</button>
      <a href="{% url 'product' %}" class="w3-bar-item w3-button">Product Console</a>
      <a href="{% url 'view_story' %}" class="w3-bar-item w3-button">Stories</a>
      <a href="{% url 'qaprg' %}" class="w3-bar-item w3-button">Progress</a>
      <a href="{% url 'bandwidth' %}" class="w3-bar-item w3-button">Sprint Bandwidth</a>
      <a href="{% url 'tasks' %}l" class="w3-bar-item w3-button">All Tasks</a>
      <a href="{% url 'login' %}" class="w3-bar-item w3-button"><b>Logout</b></a>
    </div>

    <div id="main">

    <div class="w3-teal">
      <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
      Sprint Management
    </div>

    <script>
      $(document).ready(function() {
          $('.js-example-basic-single').select2();
        });
    </script>

    <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
      // document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }
    </script>

  <div id="hid">
    <div class="container-fluid" id="spr">
      <div class="col-md-2">
        <button class="btn example_c" onclick="w6_open()" id="project_btn"><small>New Project</small></button>
      </div>
    </div>

    <form class="post-form" method='POST' id="h">
      {% csrf_token %}
      <div class="container-fluid">
          <div class="col-md-12">
            <!-- onchange="myFunction(this.value)" -->
              <select class="js-example-basic-single" name="select_project">
                  <option selected="true" disabled>{{ nx }}</option>
                {% for n1 in n %}
                  <option>{{ n1.name }}</option>
                {% endfor %}
              </select>
          </div>
      </div>
    </form>

    <script>
      $(document).ready(function() {
          var frm = $('#h');
          frm.on('change',function (e) {
            e.preventDefault();
              $.ajax({
                  type: frm.attr('method'),
                  data: frm.serialize(),
                  success: function(data) {
                    $("#re").html(data);
                  },
              });
          });
        });
    </script>

    <form class="post-form w3-animate-top" style="display:none" method='POST' id="g">
      {% csrf_token %}
      <div class="container">
        <div class="col-sm-20">
          <div class="card card-user" id="back">
            <div class="card-header">
              <h5 class="card-title">Create Project</h5>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Project Name</label>
                    <input type="text" name="pname" placeholder="Project Name">
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Select Admin</label>
                      <div>
                        <select class="js-example-basic-single" name="select_admin">
                          {% for n2 in list11 %}
                            <option>{{ n2 }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="update ml-auto mr-auto">
                  <input type="submit" name="project_button" class="btn example_c" id="reg1" value="Create Project">
                </div>
              </div>

              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button class="btn example_c" onclick="w6_close()" id="project_close">Close</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
</div>

    <div id="m1">

    <script>
      function w6_open() {
        document.getElementById("m1").style.marginTop = "0%";
        document.getElementById("g").style.display = "block";
        document.getElementById("project_btn").style.display = 'none';
      }
      function w6_close() {
        document.getElementById("m1").style.marginTop = "0%";
        document.getElementById("g").style.display = "none";
        document.getElementById("project_btn").style.display = "inline-block";
      }
    </script>


  <div class="container-fluid" id="spr">
    <div class="col-md-2">
      <button class="btn example_c" onclick="w4_open()" id="sprint_btn"><small>New Sprint</small></button>
    </div>
  </div>

  <form class="post-form" method='POST' id="f5">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="col-md-12" >
            <select class="js-example-basic-single" name="select_sprint">
              <option selected="true" disabled>{{ hx2 }}</option>
              {% for product in data %}
              <option> {{ product.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="container-fluid">
          <button class="btn example_c" type="submit" name="submit_sprint" value="0"><small>View Stories</small></button>
          <button class="btn example_c" type="submit" name="submit_sprint" value="1"><small>View Graphs</small></button>
          <button class="btn example_c" type="submit" name="submit_sprint" value="2"><small>End Sprint Report</small></button>
        </div>
    </div>
  </form>

  <form class="post-form w3-animate-top" style="display:none" method='POST' id="f">
    {% csrf_token %}
    <div class="container">
      <div class="col-sm-20">
        <div class="card card-user" id="back">
          <div class="card-header">
            <h5 class="card-title">Create Sprint</h5>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Sprint Name</label>
                  {{ form.name }}
                </div>
              </div>
            </div>

            <div class="row">
                <div class='col-md-6 pr-1'>
                    <div class="form-group">
                        <label>Sprint Start Date</label>
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                          {{ form.sprint_start_date }}
                          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class='col-sm-8 pr-1'>
                    <div class="form-group">
                        <label>Sprint Dev End Date</label>
                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                          {{ form.sprint_dev_end_date }}
                          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class='col-sm-8 pr-1'>
                    <div class="form-group">
                        <label>Sprint QA End Date</label>
                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                          {{ form.sprint_qa_end_date }}
                          <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Holidays Available</label>
                  {{ form.holidays }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="update ml-auto mr-auto">
                <input type="submit" name="sprint_button" class="btn example_c" id="reg1" value="Create Sprint">
              </div>
            </div>

            <div class="row">
              <div class="update ml-auto mr-auto">
                <button class="btn example_c" onclick="w4_close()" id="sprint_close">Close</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>

<div id="m">

<script>
  function w4_open() {
    document.getElementById("m").style.marginTop = "0%";
    document.getElementById("f").style.display = "block";
    document.getElementById("sprint_btn").style.display = 'none';
  }
  function w4_close() {
    document.getElementById("m").style.marginTop = "0%";
    document.getElementById("f").style.display = "none";
    document.getElementById("sprint_btn").style.display = "inline-block";
  }
</script>

<!-- bar graph Developer specific -->

<div class="container-fluid">
  <div class="col-md-3">
    <button class="btn example_d" onclick="w9_open()" id="bdc"><small>Developer Overview Graph</small></button>
  </div>
</div>

<div class="container-fluid w3-animate-left" style="width:900px;" id="f1">
  <div class="col-md">
    <form method='POST' id="f4">
      {% csrf_token %}
      <select class="js-example-basic-single" name="select_user" style="width:10%;">
          <option selected="true" disabled>{{ hx1 }}</option>
        {% for n1 in s22 %}
          <option>{{ n1.name }}</option>
        {% endfor %}
      </select>
      <button class="btn example_d" type="submit" name="submit_user" id="bt1"><small>Select Developer</small></button>
    </form>

    <script type="text/javascript">
      $(document).ready(function() {
          var frm = $('#f4');
          frm.submit(function (e) {
            e.preventDefault();
              $.ajax({
                  type: frm.attr('method'),
                  data: frm.serialize(),
                  success: function(data) {
                    $("#re").html(data);
                  },
              });
          });
        });
    </script>

</div>
  <canvas id="myChart1"></canvas>
</div>

<script>
var ctx = document.getElementById('myChart1');
var data8  = JSON.parse('{{ jd8|escapejs }}');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Available Bandwidth','Story Points Assigned','Story Points Completed'],
        datasets: [{
          label: 'Developers Chart',
            data: data8,
            backgroundColor: [
                'rgba(75, 192, 192, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)'
            ],
            borderColor: [
                'rgba(75, 192, 192, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>


<!-- burndown graph -->

<div class="container-fluid">
  <div class="col-md-3">
    <button class="btn example_d" onclick="w10_open()" id="bdc1"><small>Sprint Overview Burndown Graph</small></button>
  </div>
</div>

<script>
    function showBurnDown(elementId, burndownData, newdata) {
      var speedCanvas = document.getElementById(elementId);
      Chart.defaults.global.defaultFontFamily = "Montserrat";
      Chart.defaults.global.defaultFontSize = 10;
      var data1  = JSON.parse('{{ jd1|escapejs }}');
      // console.log(data1);
      var ctx = document.getElementById('burndown43').getContext("2d");
      var gradientFill = ctx.createLinearGradient(500, 0, 100, 0);gradientFill.addColorStop(0, "rgba(128, 182, 244, 0.4)");gradientFill.addColorStop(1, "rgba(244, 144, 128, 0.4)");
      var speedData = {
        labels: data1,
        datasets: [
          {
            label: "Points Per Day",
            data: burndownData,
            fill: false,
            borderColor: "rgba(72,42,156,.4)",
            backgroundColor: "rgba(72,42,156,.5)",
            lineTension: 0,
          },
          {
            label: "Average",
            data: newdata,
            fill: true,
            // fillColor: gradient,
            borderColor: gradientFill,
            lineTension: 0,
            backgroundColor: gradientFill,
          },
        ]
      };

      var chartOptions = {
        legend: {
          display: true,
          position: 'top',
          labels: {
            boxWidth: 30,
            fontColor: 'black'
          }
        },
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max: Math.round(burndownData[0] * 1.1)
                }
            }]
        }
      };

      var lineChart = new Chart(speedCanvas, {
        type: 'line',
        data: speedData,
        options: chartOptions
      });

    }
</script>

<div class="container-fluid w3-animate-left" style=" width:900px;" id="f2">
  <canvas id="burndown43"></canvas>
</div>

<script>
  var data2  = JSON.parse('{{ jd5|escapejs }}');
  var data3  = JSON.parse('{{ jd6|escapejs }}');
  showBurnDown ("burndown43",data2,data3);
</script>


<!-- Pie Chart -->

<div class="container-fluid">
  <div class="col-md-2">
    <button class="btn example_d" onclick="w11_open()" id="bdc2"><small>Story Overview Pie Chart</small></button>
  </div>
</div>

<div class="container-fluid w3-animate-left" style="width:900px;" id="f3">
  <canvas id="myChart"></canvas>
</div>

<script>
var ctx = document.getElementById('myChart');
var data7  = JSON.parse('{{ jd7|escapejs }}');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Completed','QA','In Progress','Unassigned'],
        datasets: [{
            data: data7,
            backgroundColor: [
                'rgba(75, 192, 192, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(255, 99, 132, 0.4)'
            ],
            borderColor: [
                'rgba(75, 192, 192, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>


</body>

</html>
