<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <title>
    Sprint Management
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->

  <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
      $("#btn").click(function(){
        $("#log").load("login.html/");
      });
    });
  </script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- CSS Files -->
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/paper-dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/w3.css' %}">

  <style media="screen">
    .container{
      padding-top: 20px;
    }
    body{
      font-family: Montserrat;
    }
    body{
      background :#F3F3F3;
    }
    .dropdown{
      display: inline-block;
    }
    #reg{
      padding-left: 10px;
      padding-top: 5px;
    }
    #reg1{
      background-color:  #4ebe4b;
    }
    #reg2{
      /* color:lightblue; */
      padding-left: 15px;
      padding-top: 5px;
    }
    .example_c {
    color: black;
    background: lightgrey;
    border: 1px solid lightgrey;
    transition: all 0.4s ease 0s;
    }
    .example_c:hover {
    background: #303D39;
    border: 1px solid #303D39;
    transition: all 0.4s ease 0s;
    }
    #x1{
      position: relative;
      padding-top: 150px;
      left:11%;
    }
  </style>
  </head>

  <body>
    <div id="re">
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large"
      onclick="w3_close()">Close &times;</button>
      <a href="{% url 'register' %}" class="w3-bar-item w3-button">Register</a>
      <a href="{% url 'login' %}" class="w3-bar-item w3-button">Login</a>
    </div>

    <div id="main">

    <div class="w3-teal">
      <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
      Sprint Management
    </div>

    <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
      // document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }
    </script>





    <div class="container" style="padding-top:10%;">
      <div align='center'>

        <div class="col-lg-3" style="display:inline-block;">
          <div class="card card-stats">
            <div class="card-body">
              <div class=row>
                  <img src="{% static '/users.gif' %}" style="width:120px;height:90px;">
                <div>
                  <div class="numbers">
                    <p class="card-category">Employees</p>
                    <p class="card-title">{{ d1 }}<p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <hr>
              <div class="stats" style="text-align:right;">
                <a href="{% url 'register' %}"><img src="https://img.icons8.com/cotton/64/000000/cloud-refresh.png" style="width:30px;height:30px;"></a>
                <a href="{% url 'register' %}">Refresh</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3" style="display:inline-block;">
          <div class="card card-stats">
            <div class="card-body ">
              <div>
                <div class=row>
                  <img src="{% static '/story.gif' %}" style="width:120px;height:90px;">
                  <div>
                    <div class="numbers">
                      <p class="card-category">Total Stories</p>
                      <p class="card-title">{{ total }}<p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats" style="text-align:right;">
                <a href="{% url 'register' %}"><img src="https://img.icons8.com/cotton/64/000000/cloud-refresh.png" style="width:30px;height:30px;"></a>
                <a href="{% url 'register' %}">Refresh</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

<div class="container-fluid" align='center'>
  <div class="col-md-2">
    <button class="btn example_c" onclick="w4_open()" id="register_btn">New User Registration</button>
  </div>
</div>


<form class="post-form w3-animate-top" method="post" style="display:none" enctype="multipart/form-data" id="regform">
  {% csrf_token %}
  <div class="container">
    <div class="col-sm-12">
      <div class="card card-user" id="back">
        <div class="card-header">
          <h5 class="card-title">Register</h5>
        </div>
        <div class="card-body">
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <div class="row">
            <div class="update" id="reg">
              <input type="submit" class="btn example_c" value="Register" name="reg">
            <div class="row" id="reg2">
              <a href="{% url 'login' %}">Already Registered? Login</a>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="update ml-auto mr-auto">
        <button class="btn example_c" onclick="w4_close()">Close</button>
      </div>
    </div>
</form>
</div>

<script type="text/javascript">
    var frm = $('#regform');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#re").html(data);
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
            }
        });
        return false;
    });
</script>

<div id="m">

<script>
  function w4_open() {
    document.getElementById("m").style.marginTop = "0%";
    document.getElementById("regform").style.display = "block";
    document.getElementById("register_btn").style.display = 'none';
  }
  function w4_close() {
    document.getElementById("m").style.marginTop = "0%";
    document.getElementById("regform").style.display = "none";
    document.getElementById("register_btn").style.display = "inline-block";
  }
</script>

<!-- <pre>curl -X POST -H "Authorization: Basic " -H "X-Quikr-Client: Platform" -H "Content-Type: application/x-www-form-urlencoded" -d 'grantType=authorization_code&code=RpjTsmtnzdFMC0zQ3DQBFHM9bmBy83UXqvw9Kfza2yo=&clientId=SprintManagement' "http://192.168.124.123:13000/identity/v1/token"</pre> -->


</body>

</html>
