<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <title>
    Sprint Management
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->

  <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <!-- CSS Files -->
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/paper-dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
    <link rel="stylesheet" href="/static/landing/form/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/landing/form/style1.css">
    <link href="/static/landing/style.css" rel="stylesheet">

  {% if messages %}
    <script>
      {% for message in messages %}
        alert("{{ message }}");
      {% endfor %}
    </script>
  {% endif %}

  {% if user_form.errors %}
    <script>
      {% for field in user_form %}
          {% for error in field.errors %}
              alert("{{ error }}")
          {% endfor %}
      {% endfor %}
    </script>
  {% endif %}

  {% if profile_form.errors %}
    <script>
      {% for field in profile_form %}
          {% for error in field.errors %}
              alert("{{ error }}")
          {% endfor %}
      {% endfor %}
    </script>
  {% endif %}

  </head>

  <body>

    <div id="re">
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large"
      onclick="w3_close()">Close &times;</button>
      <a href="{% url 'register' %}" class="w3-bar-item w3-button">Register</a>
      <a href="{% url 'login' %}" class="w3-bar-item w3-button">Login</a>
      <a href="{% url 'admin' %}" class="w3-bar-item w3-button">Admin Login</a>
    </div>

    <div id="main">

    <div class="w3-teal">
      <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
    </div>

    <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }
    </script>


    <section class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="hero-brand" href="/" title="Home"><img alt="Bell Logo" src="/static/quikr.png" style="height:70px;"></a>
          </div>
        </div>

        <div class="col-md-12">
          <h1 style="font-size:400%;">
            Jira Management System
          </h1>
          <a class="btn btn-full" href="#register" style="margin-top:10%;">Register</a>
        </div>
      </div>

    </section>
    <!-- /Hero -->

    <!-- About -->

    <section class="about" id="about" style="background-color:lightgrey;">
      <div class="container text-center">
        <h2>
          Statistics
        </h2>

        <div class="container">
          <div align='center'>

            <div class="col-lg-3" style="display:inline-block;">
              <div class="card card-stats" style="border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                <div class="card-body">
                  <div class=row>
                      <img src="{% static '/users.gif' %}" style="width:120px;height:90px;">
                    <div>
                      <div class="numbers">
                        <p class="card-category">Employees</p>
                        <p class="card-title">{{ d1 }}<p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr>
                  <div class="stats" style="text-align:right;">
                    <a href="{% url 'login' %}"><img src="https://img.icons8.com/cotton/64/000000/cloud-refresh.png" style="width:30px;height:30px;"></a>
                    <a href="{% url 'login' %}">Refresh</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3" style="display:inline-block;">
              <div class="card card-stats" style="border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                <div class="card-body ">
                  <div>
                    <div class=row>
                      <img src="{% static '/story.gif' %}" style="width:120px;height:90px;">
                      <div>
                        <div class="numbers">
                          <p class="card-category">Total Stories</p>
                          <p class="card-title">{{ total }}<p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer ">
                  <hr>
                  <div class="stats" style="text-align:right;">
                    <a href="{% url 'login' %}"><img src="https://img.icons8.com/cotton/64/000000/cloud-refresh.png" style="width:30px;height:30px;"></a>
                    <a href="{% url 'login' %}">Refresh</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- /About -->

    <!-- Sign up form -->
    <section class="signup" id="register" style="background-color:#f0f0f0;">
      <div class="container" style="background-color:white;">
        <div class="signup-content">
          <div class="signup-form">
            <h2 class="form-title">Sign up</h2>
            <form class="register-form" method="post" enctype="multipart/form-data" id="regform">
              {% csrf_token %}
              <div class="form-group">
                <p><small>Employee ID</small></p>
                {{ profile_form.empid}}
              </div>
              <div class="form-group">
                <p><small>Name</small></p>
                {{ profile_form.name}}
              </div>
              <div class="form-group">
                <p><small>Username</small></p>
                {{ user_form.username }}
              </div>
              <div class="form-group">
                <p><small>Email</small></p>
                {{ user_form.email }}
              </div>
              <div class="form-group">
                <p><small>Role</small></p>
                {{ profile_form.roles}}
              </div>
              <div class="form-group">
                <label><small>Java</small></label>
                {{ profile_form.java}}
              </div>
              <div class="form-group">
                <label><small>PHP</small></label>
                {{ profile_form.php}}
              </div>
              <div class="form-group">
                <label><small>HTML</small></label>
                {{ profile_form.html}}
              </div>
              <div class="form-group">
                <label><small>QA</small></label>
                {{ profile_form.qa}}
              </div>
              <div class="form-group form-button">
                <input type="submit" name="reg" id="signup" class="form-submit" value="Register"/>
              </div>
            </form>
          </div>
          <div class="signup-image">
            <figure><img src="/static/landing/form/signup-image.jpg" alt="sing up image"></figure>
          </div>
        </div>
      </div>
    </section>


</body>

</html>
