{% extends 'home.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/tasks.css">
  <body id="re">

    <body id="re">
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black; font-size:12px;" id="mainNav">
        <div class="container">
          <a class="navbar-brand">End Sprint Report</a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <div id="hid">
                <div id="hid3">
                  <form class="post-form" method='POST' id="h">
                    {% csrf_token %}
                    <!-- onchange="myFunction(this.value)" -->
                      <select class="js-example-basic-single" name="select_project">
                          <option selected="true" disabled>{{ nx }}</option>
                        {% for n1 in n0 %}
                          <option>{{ n1.name }}</option>
                        {% endfor %}
                      </select>
                  </form>

                  <script>
                    $(document).ready(function() {
                        var frm = $('#h');
                        frm.on('change',function (e) {
                          e.preventDefault();
                            $.ajax({
                                type: frm.attr('method'),
                                data: frm.serialize(),
                                success: function(data) {
                                  $("#re").html(data);
                                },
                            });
                        });
                      });
                  </script>
                </div>
                <div id="hid1">
                  <form class="post-form" method='POST' id="f5">
                    {% csrf_token %}
                      <select class="js-example-basic-single" name="select_sprint">
                        <option selected="true" disabled>{{ nx1 }}</option>
                        {% for product in data1 %}
                        <option> {{ product.name }}</option>
                          {% endfor %}
                      </select>
                  </form>

                  <script>
                    $(document).ready(function() {
                        var frm = $('#f5');
                        frm.on('change',function (e) {
                          e.preventDefault();
                            $.ajax({
                                type: frm.attr('method'),
                                data: frm.serialize(),
                                success: function(data) {
                                  $("#re").html(data);
                                },
                            });
                        });
                      });
                  </script>
                </div>
              </div>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'product' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'view_story' %}">Stories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'qaprg' %}">Progress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'bandwidth' %}">Bandwidth</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'tasks' %}l">Sprint Report</a>
              </li>
              <div class="btn-group">
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color:black;"></button>
                  <div class="dropdown-menu dropdown-menu-right">
                      <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                      <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                  </div>
              </div>
            </ul>
          </div>
        </div>
      </nav>

  <script>
  $(document).ready(function() {
      $('.js-example-basic-single').select2();
    });
  </script>

    <div class="content-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"><b><u>End Sprint Report</u></b></h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="tab2">
                  <thead class="text-primary">
                    <th>Total Available Bandwidth</th>
                    <th>Total Story Points Assigned</th>
                    <th>Total Completed Story Points</th>
                    <th>Total Pending Story Points</th>
                  </thead>
                  <tbody>
                    <tr>
                      {% for i in repo %}
                        <td>{{ i }}</td>
                      {% endfor %}
                    </tr>
                    <tr>
                      <td colspan='2'></td>
                      <td colspan="2">
                        <form method="post">
                          {% csrf_token %}
                          <select class="js-example-basic-single" name="select_spr">
                            {% for n1 in n0 %}
                              <option selected="True" disabled>{{ n1.name }}</option>
                              {% for product in listse %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                                  {% for p in product %}
                                    <option value='{{ p.1 }}'>{{ p.0 }}</option>
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          </select>
                          <p></p>
                          <button class="btn example_c" type="submit" name="move_story"><small>Move Pending Stories to Selected Sprint</small></button>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container-fluid">
  <div class="table100 ver3">
    <table class='table' id="tab2" data-vertable="ver1">
      <thead>
        <tr>
          <th id="una">Sprint Name</th>
          <th>Topic</th>
          <th>Jira ID</th>
          <th>Assigned SP</th>
          <th>Pending SP</th>
          <th>Status</th>
          <th>Assign</th>
        </tr>
      </thead>
      <tbody>
          {% for d in list1 %}
            {% for d1 in d %}

          <tr class="w3-animate-left" id="e" style="display:none">
            <form method="GET" id="edit2">
              {% csrf_token %}
              <td>
                <label>Sprint Name</label>
                <input type="text" name="sprint_name" id="a1" value="" readonly>
              </td>
              <td>
                <label>JIRA ID</label>
                <input type="text" name="jira" id="b1" value="" readonly>
              </td>
              <td>
                <label>Skills Available</label>
                <input type="text" id="j1" value="" disabled>
              </td>
              <td>
                <label>Pick Skill</label>
                <input type="text" name="skill">
              </td>
              <td>
                <label>Points</label>
                <input type="number" name="points" min="0" value="0">
              </td>
              <td>
                <input class ="btn example_c" type="submit" value="Assign">
                <p></p>
                <input type="button" class="btn example_c" onclick="w5_close()" value="Dont Assign">
              </td>
            </form>

          </tr>

          <tr class="row100 head">
            <td class="col-md-2" id="una"><a href="/blog" target="_blank">{{ d1.0 }}</a></td>
            <td><a href="/blog" target="_blank">{{ d1.1 }}</a></td>
            <td><a href="{{d1.5}}" target='_blank'>{{ d1.2 }}</a></td>
            <td>{{ d1.6 }}</td>
            <td>{{ d1.7 }}</td>
            <td class='col-md-2' id="{{d1.4}}">{{ d1.3 }}</td>
            <td>
              {% if d1.3 == 'Unassigned' %}
                <button class="btn example_c" type="submit" name="assign_story" onclick="w5_open({{d1.8}})" id="edit"><small>Assign</small></button>
              {% else %}
              {% endif %}
            </td>
          </tr>
            {% endfor %}
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div id="n">
<script>
function w5_open(ex) {
  document.getElementById("n").style.marginTop = "0%";
  document.getElementById("e").style.display = "block";
  document.getElementById("edit").style.display = 'none';

  $(document).ready(function() {
    var d1  = JSON.parse('{{ jd1x|escapejs }}');
    var d2  = JSON.parse('{{ jd2x|escapejs }}');
    var d3  = JSON.parse('{{ jd3x|escapejs }}');

    var a=""
    var b=""
    var j=""
    var p=""
    var h=""
    var q=""

    for(k in d3){
      if(d3[k]=="Java"){
        j="Java";
      }
      if(d3[k]=="PHP"){
        j+=", PHP";
      }
      if(d3[k]=="HTML"){
        j+=", HTML";
      }
      if(d3[k]=="QA"){
        j+=", QA";
      }
    }

    for(i in d2){
      if(ex==Object.keys(d2).indexOf(i)){
        a=d1[i]
        b=d2[i]
        break;
      }
    }
    document.getElementById('a1').value = a;
    document.getElementById('b1').value = b;
    document.getElementById('j1').value = j;
  });
}

function w5_close() {
  document.getElementById("n").style.marginTop = "0%";
  document.getElementById("e").style.display = "none";
  document.getElementById("edit").style.display = "inline-block";
}
</script>

</body>

{% endblock %}
