{% include 'home.html' %}
{% include 'nav.html' %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.js" integrity="sha256-ZIgVXws0JSyxy1OmqGeFYUsfoNr22H2o4dMlFBrKLUU=" crossorigin="anonymous"></script>
<link href="/static/new/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/tasks.css">
  <body id="re">

    {% block nav %}
    {% endblock %}

    <!-- Content Row -->

          <div class="container-fluid">
            <div class="card shadow mb-4">
              <table class="table" id="tab2">
                <thead class="text-primary">
                  <th>Total Available Bandwidth</th>
                  <th>Total Story Points Assigned</th>
                  <th>Total Completed Story Points</th>
                  <th>Total Pending Story Points</th>
                </thead>
                <tbody>
                  <tr>
                    {% for i in repo %}
                      <td>{{ i }}</td>
                    {% endfor %}
                  </tr>
                  <tr>
                    <td colspan='2'></td>
                    <td colspan="2">
                      <form method="post">
                        {% csrf_token %}
                        <select class="js-example-basic-single" name="select_spr">
                          {% for n1 in n0 %}
                            <option selected="True" disabled>{{ n1.name }}</option>
                            {% for product in listse %}
                              {% if forloop.counter == forloop.parentloop.counter %}
                                {% for p in product %}
                                  <option value='{{ p.1 }}'>{{ p.0 }}</option>
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                        </select>
                        <p></p>
                        <button class="btn example_c" type="submit" name="move_story"><small>Move Pending Stories to Selected Sprint</small></button>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="container-fluid">
            <div class="card shadow mb-4">
              <div class="table100 ver3">

                <table class="w3-animate-left" id="e" style="display:none;font-size:10px;">
                  <tbody>
                    <tr>
                      <form method="GET" id="edit2">
                        {% csrf_token %}
                        <td>
                          <label>Sprint Name</label>
                          <input type="text" name="sprint_name" id="a1" value="" readonly>
                        </td>
                        <td>
                          <label>JIRA ID</label>
                          <input type="text" name="jira" id="b1" value="" readonly>
                        </td>
                        <td>
                          <label>Skills Available</label>
                          <input type="text" id="j1" value="" disabled>
                        </td>
                        <td>
                          <label>Pick Skill</label>
                          <input type="text" name="skill">
                        </td>
                        <td>
                          <label>Points</label>
                          <input type="number" name="points" min="0" value="0">
                        </td>
                        <td>
                          <input class ="btn example_c" type="submit" value="Submit">
                          <p></p>
                          <input type="button" class="btn example_c" onclick="w5_close()" value="Close">
                        </td>
                      </form>
                    </tr>
                  </tbody>
                </table>

                <table class='table' id="tab2" data-vertable="ver1">
                  <thead>
                    <tr>
                      <th id="una">Sprint Name</th>
                      <th>Topic</th>
                      <th>Jira ID</th>
                      <th>Assigned SP</th>
                      <th>Pending SP</th>
                      <th>Status</th>
                      <th>Assign</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for d in list1 %}
                        {% for d1 in d %}

                      <tr class="row100 head">
                        <td class="col-md-2" id="una"><a href="/story" target="_blank">{{ d1.0 }}</a></td>
                        <td><a href="/story" target="_blank">{{ d1.1 }}</a></td>
                        <td><a href="{{d1.5}}" target='_blank'>{{ d1.2 }}</a></td>
                        <td>{{ d1.6 }}</td>
                        <td>{{ d1.7 }}</td>
                        <td class='col-md-2' id="{{d1.4}}">{{ d1.3 }}</td>
                        <td>
                          {% if d1.3 == 'Unassigned' %}
                            <button class="btn example_c" type="submit" name="assign_story" onclick="w5_open({{d1.8}})" id="edit"><small>Assign</small></button>
                          {% else %}
                          {% endif %}
                        </td>
                      </tr>
                        {% endfor %}
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    <!-- End of Page Wrapper -->

  <script src="/static/new/sb-admin-2.min.js"></script>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <img src="/static/angle-up-solid.svg" style="width:30px;height:30px;">
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
      });
  </script>
</body>

{% endblock %}
