{% extends 'home.html' %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.js" integrity="sha256-ZIgVXws0JSyxy1OmqGeFYUsfoNr22H2o4dMlFBrKLUU=" crossorigin="anonymous"></script>
<link href="/static/new/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/tasks.css">
  <body id="re">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Sprint Management</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item --->
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span>Profile</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{% url 'profile' %}">Profile</a>
              <a class="collapse-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Pages
        </div>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'product' %}"><span>Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'view_story' %}"><span>Stories</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'qaprg' %}"><span>Progress</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bandwidth' %}"><span>Bandwidth</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tasks' %}l"><span>Sprint Report</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <!-- <i class="fa fa-bars">HEY</i> -->
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{name}}</span>
                  <img class="img-profile rounded-circle" src="/static/profile/pics/empty.png">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="{% url 'profile' %}">
                    Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    Logout
                  </a>
                </div>
              </li>

            </ul>

          </nav>
          <!-- End of Topbar -->
          <div class="content-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table" id="tab2">
                        <thead class="text-primary">
                          <th>Total Available Bandwidth</th>
                          <th>Total Story Points Assigned</th>
                          <th>Total Completed Story Points</th>
                          <th>Total Pending Story Points</th>
                        </thead>
                        <tbody>
                          <tr>
                            {% for i in repo %}
                              <td>{{ i }}</td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td colspan='2'></td>
                            <td colspan="2">
                              <form method="post">
                                {% csrf_token %}
                                <select class="js-example-basic-single" name="select_spr">
                                  {% for n1 in n0 %}
                                    <option selected="True" disabled>{{ n1.name }}</option>
                                    {% for product in listse %}
                                      {% if forloop.counter == forloop.parentloop.counter %}
                                        {% for p in product %}
                                          <option value='{{ p.1 }}'>{{ p.0 }}</option>
                                        {% endfor %}
                                      {% endif %}
                                    {% endfor %}
                                  {% endfor %}
                                </select>
                                <p></p>
                                <button class="btn example_c" type="submit" name="move_story"><small>Move Pending Stories to Selected Sprint</small></button>
                              </form>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="container-fluid">
            <div class="table100 ver3">
              <table class='table' id="tab2" data-vertable="ver1">
                <thead>
                  <tr>
                    <th id="una">Sprint Name</th>
                    <th>Topic</th>
                    <th>Jira ID</th>
                    <th>Assigned SP</th>
                    <th>Pending SP</th>
                    <th>Status</th>
                    <th>Assign</th>
                  </tr>
                </thead>
                <tbody>
                    {% for d in list1 %}
                      {% for d1 in d %}

                    <tr class="w3-animate-left" id="e" style="display:none">
                      <form method="GET" id="edit2">
                        {% csrf_token %}
                        <td>
                          <label>Sprint Name</label>
                          <input type="text" name="sprint_name" id="a1" value="" readonly>
                        </td>
                        <td>
                          <label>JIRA ID</label>
                          <input type="text" name="jira" id="b1" value="" readonly>
                        </td>
                        <td>
                          <label>Skills Available</label>
                          <input type="text" id="j1" value="" disabled>
                        </td>
                        <td>
                          <label>Pick Skill</label>
                          <input type="text" name="skill">
                        </td>
                        <td>
                          <label>Points</label>
                          <input type="number" name="points" min="0" value="0">
                        </td>
                        <td>
                          <input class ="btn example_c" type="submit" value="Assign">
                          <p></p>
                          <input type="button" class="btn example_c" onclick="w5_close()" value="Dont Assign">
                        </td>
                      </form>

                    </tr>

                    <tr class="row100 head">
                      <td class="col-md-2" id="una"><a href="/story" target="_blank">{{ d1.0 }}</a></td>
                      <td><a href="/story" target="_blank">{{ d1.1 }}</a></td>
                      <td><a href="{{d1.5}}" target='_blank'>{{ d1.2 }}</a></td>
                      <td>{{ d1.6 }}</td>
                      <td>{{ d1.7 }}</td>
                      <td class='col-md-2' id="{{d1.4}}">{{ d1.3 }}</td>
                      <td>
                        {% if d1.3 == 'Unassigned' %}
                          <button class="btn example_c" type="submit" name="assign_story" onclick="w5_open({{d1.8}})" id="edit"><small>Assign</small></button>
                        {% else %}
                        {% endif %}
                      </td>
                    </tr>
                      {% endfor %}
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- End of Page Wrapper -->


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div id="n">
  <script>
  function w5_open(ex) {
    document.getElementById("n").style.marginTop = "0%";
    document.getElementById("e").style.display = "block";
    document.getElementById("edit").style.display = 'none';

    $(document).ready(function() {
      var d1  = JSON.parse('{{ jd1x|escapejs }}');
      var d2  = JSON.parse('{{ jd2x|escapejs }}');
      var d3  = JSON.parse('{{ jd3x|escapejs }}');

      var a=""
      var b=""
      var j=""
      var p=""
      var h=""
      var q=""

      for(k in d3){
        if(d3[k]=="Java"){
          j="Java";
        }
        if(d3[k]=="PHP"){
          j+=", PHP";
        }
        if(d3[k]=="HTML"){
          j+=", HTML";
        }
        if(d3[k]=="QA"){
          j+=", QA";
        }
      }

      for(i in d2){
        if(ex==Object.keys(d2).indexOf(i)){
          a=d1[i]
          b=d2[i]
          break;
        }
      }
      document.getElementById('a1').value = a;
      document.getElementById('b1').value = b;
      document.getElementById('j1').value = j;
    });
  }

  function w5_close() {
    document.getElementById("n").style.marginTop = "0%";
    document.getElementById("e").style.display = "none";
    document.getElementById("edit").style.display = "inline-block";
  }
  </script>
  <script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
      });
  </script>
</body>

{% endblock %}
