<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Story Management</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <script
  			  src="https://code.jquery.com/jquery-3.3.1.js"
  			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  			  crossorigin="anonymous"></script>
    <!-- <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <!-- tablesorting -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/tablesorter.js"></script>

    <!-- tablesorting themes -->
    <link rel="stylesheet" type="text/css" href="/static/animate.css">
  	<link rel="stylesheet" type="text/css" href="/static/main.css">
    <script src="/static/main.js"></script>

    <script>
      $(document).ready(function(){
        $('#tab1').tablesorter();
      });
    </script>
    <script>
      $(document).ready(function(){
        $('#tab2').tablesorter();
      });
    </script>
    <script>
      $(document).ready(function(){
        $('#tab3').tablesorter();
      });
    </script>

    <!-- CSS Files -->
    {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static '/paper-dashboard.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static '/w3.css' %}">

    <style media="screen">
      th{
        cursor: pointer;
      }
      .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
      }
      #c{
        width:40px;
      }
      body{
        font-family: Montserrat;
        background :#F3F3F3;
      }
      #spr{
        padding-top: 70px;
      }
      input[type="text"]::placeholder,input[type="password"]::placeholder{
        color:lightgrey;
      }
      #back{
        background-color:   #f2f5f2;
        width:500px;
      }
      #a{
        background-color: white;
        color:black;
      }
      #read{
        background-color: lightgrey;
      }
      #hid2{
        padding-top: 20px;
      }
      #devs{
        padding-top: 10px;
      }
      .example_c {
      color: black;
      background: lightgrey;
      border: 1px solid lightgrey;
      transition: all 0.4s ease 0s;
      }
      .example_c:hover {
      background: #303D39;
      border: 1px solid #303D39;
      transition: all 0.4s ease 0s;
      }
      #hid{
        float: right;
        padding-top:10px;
      }
      #hid1,#hid3{
        display: inline-block;
      }
      .js-example-basic-single,#bt1{
        font-size: 10px;
      }
      .js-example-basic-single{
        width: 100%;
      }
      #tab2{
        text-align: center;
        font-size: 14px;
        border: solid lightgrey .5px;
      }
      #tab3{
        text-align: center;
        font-size: 17px;
        border: solid lightgrey .5px;
      }
      #black{
        background-color: black;
        color:white;
        border: 2px solid black;
      }
      #red{
        background-color: red;
        color:white;
        border: 2px solid red;
      }
      #yellow{
        background-color: yellow;
        color:black;
        border: 2px solid yellow;
      }
      #green{
        background-color: #1ea84c;
        color: white;
        border: 2px solid #1ea84c;
      }
      #purple{
        background-color: purple;
        color: white;
        border: 2px solid purple;
      }
      #white{
        background-color: white;
        color: black;
        border: 2px solid black;
      }
      #blue{
        background-color: blue;
        color: white;
        border: 2px solid blue;
      }
      #pd{
        background-color: lightgreen;
        color: black;
        border: 2px solid lightgreen;
      }
      #other{
        background-color: brown;
        color: white;
        border: 2px solid brown;
      }
      .ec,.dc{
        display: inline-block;
      }
      #tab1{
        text-align: center;
        font-size: 14px;
        border: solid lightgrey .5px;
      }
      .dev a {
      background-color: Yellow !important;
      color: Black !important;
      }
      .cr a {
      background-color: Blue !important;
      color: White !important;
      }
      .qa a {
      background-color: Orange !important;
      color: White !important;
      }
      .rel a {
      background-color: Green !important;
      color: White !important;
      }
    </style>

    {% if messages %}
      <script>
        {% for message in messages %}
          alert("{{ message }}");
        {% endfor %}
      </script>
    {% endif %}

  </head>

  <body id="re">

    <body id="re">
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black; font-size:12px;" id="mainNav">
        <div class="container">
          <a class="navbar-brand">Story Details</a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <div id="hid">
                <div id="hid3">
                  <form class="post-form" method='POST' id="h">
                    {% csrf_token %}
                    <!-- onchange="myFunction(this.value)" -->
                      <select class="js-example-basic-single" name="select_project">
                          <option selected="true" disabled>{{ nx }}</option>
                        {% for n1 in n0 %}
                          <option>{{ n1.name }}</option>
                        {% endfor %}
                      </select>
                  </form>

                  <script>
                    $(document).ready(function() {
                        var frm = $('#h');
                        frm.on('change',function (e) {
                          e.preventDefault();
                            $.ajax({
                                type: frm.attr('method'),
                                data: frm.serialize(),
                                success: function(data) {
                                  $("#re").html(data);
                                },
                            });
                        });
                      });
                  </script>
                </div>
                <div id="hid1">
                  <form class="post-form" method='POST' id="f5">
                    {% csrf_token %}
                      <select class="js-example-basic-single" name="select_sprint">
                        <option selected="true" disabled>{{ nx1 }}</option>
                        {% for product in data1 %}
                        <option> {{ product.name }}</option>
                          {% endfor %}
                      </select>
                  </form>

                  <script>
                    $(document).ready(function() {
                        var frm = $('#f5');
                        frm.on('change',function (e) {
                          e.preventDefault();
                            $.ajax({
                                type: frm.attr('method'),
                                data: frm.serialize(),
                                success: function(data) {
                                  $("#re").html(data);
                                },
                            });
                        });
                      });
                  </script>
                </div>
              </div>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'product' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'view_story' %}">Stories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'qaprg' %}">Progress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'bandwidth' %}">Bandwidth</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'tasks' %}l">Sprint Report</a>
              </li>
              <div class="btn-group">
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color:black;"></button>
                  <div class="dropdown-menu dropdown-menu-right">
                      <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                      <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                  </div>
              </div>
            </ul>
          </div>
        </div>
      </nav>

    <script>
      $(document).ready(function() {
          $('.js-example-basic-single').select2();
        });
    </script>

  <div id="hid2">
    <div id="allocate1">
      <div class="col-md-2">
        <button class="btn example_c"  onclick="w4_open()" id="allocate"><small>Add Story Manually</small></button>
      </div>
    </div>

    <div id="csv1">
      <div class="col-md-2">
        <button class="btn example_c"  onclick="w13_open()" id="csv"><small>Add Story via CSV</small></button>
      </div>
    </div>
  </div>

<form class="w3-animate-left" style="display:none" method="POST" enctype="multipart/form-data" id="hz">
  {% csrf_token %}
  <div class="container-fluid">
    <div class="col-sm-20">
      <div class="card card-user" id="back">
        <div class="card-header">
          <h5 class="card-title">Add Story via CSV</h5>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6 pr-1">
                <input type="file" name="file1">
            </div>
          </div>

          <button type="submit" name="csv_button" class="btn example_c" id="reg1"><small>Submit</small></button>

          <div class="row">
            <div class="update ml-auto mr-auto">
                <input type="button" class="btn example_c" value="Close" onclick="w13_close()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div id="m2">

<script>
function w13_open() {
  document.getElementById("m2").style.marginTop = "0%";
  document.getElementById("hz").style.display = "block";
  document.getElementById("csv").style.display = 'none';
}
function w13_close() {
  document.getElementById("m2").style.marginTop = "0%";
  document.getElementById("hz").style.display = "none";
  document.getElementById("csv").style.display = "inline-block";
}
</script>

<form class="post-form w3-animate-left" style="display:none" method='POST' id="f">
  {% csrf_token %}
  <div class="container-fluid">
    <div class="col-sm-20">
      <div class="card card-user" id="back">
        <div class="card-header">
          <h5 class="card-title">Add Story Manually</h5>
        </div>
        <div class="card-body">
          <form>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Story Name</label>
                  {{ form.story_name }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Description Link:</label>
                  {{ form.description }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Jira ID</label>
                  {{ form.jira }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="update ml-auto mr-auto">
                <input type="hidden" name="spr1" value="1">
                <input type="submit" name="story_button" class="btn example_c" id="reg1" value="Create Story">
              </div>
            </div>

            <div class="row">
              <div class="update ml-auto mr-auto">
                <button class="btn example_c" onclick="w4_close()" id="story_close"><small>Close</small></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</form>

<div id="m">

<script>
function w4_open() {
  document.getElementById("m").style.marginTop = "0%";
  document.getElementById("f").style.display = "block";
  document.getElementById("allocate").style.display = 'none';
}
function w4_close() {
  document.getElementById("m").style.marginTop = "0%";
  document.getElementById("f").style.display = "none";
  document.getElementById("allocate").style.display = "inline-block";
}
</script>


<div class="content" id="devs">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="table100 ver3">
            <table class="table" id="tab2" data-vertable="ver1">
              <thead class="text-primary">
                <!-- <th>Check</th> -->
                <th class="th-sm">Story Name</th>
                <th class="th-sm">Jira ID</th>
                <th class="th-sm">Description</th>
                <th class="th-sm">Status</th>
                <th class="th-sm">Action</th>
              </thead>
              <tbody>
                {% for d in data %}
                <tr class="w3-animate-top" style="display:none" id="e">
                  <form method="get" id='edit2'>
                    {% csrf_token %}
                    <td><label>Story Name</label>
                    <input type="text" name="s_name" value="" id="a1"></td>
                    <td><label>Description Link</label>
                    <input type="url" name="desc" value="" id="b1"></td>
                    <td><label>Old Jira ID</label>
                    <input type="text" name ="old_jira" value="" id="c1"></td>
                    <td><label>New Jira ID</label>
                    <input type="text" name="new_jira" value="" id="d1"></td>
                    <td>
                      <input class ="btn example_c" type="submit" value="Submit">
                      <p></p>
                      <input type="button" class="btn example_c" onclick="w5_close()" value="Dont Edit">
                    </td>
                  </form>

                  <script type="text/javascript">
                      jQuery(document).ready(function($){
                        var frm = $('#edit2');
                        frm.submit(function () {
                          if (this.id == 'edit2'){
                              $.ajax({
                                  type: $('#edit2').attr('method'),
                                  data: $('#edit2').serialize(),
                                  success: function(data) {
                                    $("#re").html(data);
                                  },
                              });
                            return false;
                          }
                        });
                      });
                  </script>

                </tr>

                <tr class="row100 head">
                  <form method="GET" target="_blank">
                    <input type="hidden" name="red" value="{{d.id}}">
                    <td><input type="submit" value="{{ d.story_name }}"></td>
                    <td><input type="submit" value="{{ d.jira }}"></td>
                  </form>
                  <td><a href="{{ d.description }}" target="_blank">{{ d.description }}</a></td>
                  {% if d.ostatus == 'Live' %}
                    <td id="green">{{ d.ostatus }}</td>
                  {% endif %}
                  {% if d.ostatus == 'In Progress' %}
                    <td id="yellow">{{ d.ostatus }}</td>
                  {% endif %}
                  {% if d.ostatus == 'HTML Done' or d.ostatus == 'PHP Done' or d.ostatus == 'API Done' or d.ostatus == 'CR' %}
                    <td id="white">{{ d.ostatus }}</td>
                  {% endif %}
                  {% if d.ostatus == '' %}
                    <td id="black">Unassigned</td>
                  {% endif %}
                  {% if d.ostatus == 'Blocked' or d.ostatus == 'Blocked on API' or d.ostatus == 'Blocked on HTML' or d.ostatus == 'Blocked on Mock' or d.ostatus == 'Spec' %}
                    <td id="red">{{ d.ostatus }}</td>
                  {% endif %}
                  {% if d.ostatus == 'Pending Deployment' or d.ostatus == 'Complete' %}
                    <td id="pd">{{ d.ostatus }}</td>
                  {% endif %}
                  {% if d.ostatus == 'QA' %}
                    <td id="blue">{{ d.ostatus }}</td>
                  {% endif %}
                  {% if d.ostatus == 'Next Sprint' %}
                    <td id="purple">{{ d.ostatus }}</td>
                  {% endif %}
                  {% if d.ostatus == 'Not Needed' or d.ostatus == 'Duplicate' %}
                    <td id="other">{{ d.ostatus }}</td>
                  {% endif %}
                  <td>
                    <!-- <form method="GET"> -->
                    <div class="ec">
                      <input type="image" src="{% static '/edit.png' %}" onclick="w5_open({{d.id}})" id="edit" style="width:30px;height:30px;">
                    </div>
                    <!-- </form> -->
                    <div class="dc">
                      <form method="get" id="x{{d.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="delete_story" value="{{ d.id }}">
                        <input type="image" src="{% static '/delete1.png' %}" style="width:30px;height:30px;" id="delete">
                      </form>
                    </div>
                    <script type="text/javascript">
                        jQuery(document).ready(function($){
                          var frm = $('#x{{d.id}}');
                          frm.submit(function () {
                            if (this.id == 'x{{d.id}}'){
                                $.ajax({
                                    type: $('#x{{d.id}}').attr('method'),
                                    data: $('#x{{d.id}}').serialize(),
                                    success: function(data) {
                                      $("#re").html(data);
                                    },
                                });
                              return false;
                            }
                          });
                        });
                    </script>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="n">
<script>
function w5_open(e) {
  document.getElementById("n").style.marginTop = "0%";
  document.getElementById("e").style.display = "block";
  document.getElementById("edit").style.display = 'none';
  // console.log(e);
  $(document).ready(function() {
    var d1  = JSON.parse('{{ jd1|escapejs }}');
    var d2  = JSON.parse('{{ jd2|escapejs }}');
    var d3  = JSON.parse('{{ jd3|escapejs }}');
    var d4  = JSON.parse('{{ jd4|escapejs }}');
    var a=""
    var b=""
    var c=""
    for(i in d1){
      if(e==d1[i]){
        a=d2[i];
        b=d3[i];
        c=d4[i];
        break;
      }
    }
    document.getElementById('a1').value = a;
    document.getElementById('b1').value = b;
    document.getElementById('c1').value = c;
    document.getElementById('d1').value = c;
  });
}

function w5_close() {
  document.getElementById("n").style.marginTop = "0%";
  document.getElementById("e").style.display = "none";
  document.getElementById("edit").style.display = "inline-block";
}
</script>

<!-- allocation dashboard -->

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" id="con">
          <div class="table100 ver3">
            <table class="table" id="tab1" data-vertable="ver1">
              <thead class="text-primary">
                <th>Jira ID</th>
                <!-- <th>Title</th> -->
                <th>JAVA</th>
                <th>PHP</th>
                <th>HTML</th>
                <th>QA</th>
                <th>Assign</th>
              </thead>
              <tbody>
                {% for dash in dashboard %}
                <tr id="br"class="row100 head">
                <trclass="row100 head">
                  <td><a href="{{dash.description}}" target="_blank">{{ dash.jira }}</a></td>
                  <td colspan="6"><a href="{{dash.description}}" target="_blank">{{ dash.story_name }}</a></td>
                </tr>
                <form method="GET" id="form_id{{dash.id}}">
                  {% csrf_token %}
                <trclass="row100 head">
                  <td></td>
                    <td class="t">
                    <!-- dropdown developer -->
                      <select  name="java_sel" class="js-example-basic-single" style="width:110px;">
                        <option>{{ dash.dev_java }}</option>
                        {% for d22 in d2 %}
                          <option>{{ d22.name }}</option>
                        {% endfor %}
                      </select>
                  <!-- point selector -->
                      <input type="hidden" name="idx" value="{{ dash.id }}">
                      <input type="number" name="points1" min="0" value="{{ dash.javas }}" id="c">
                      {% if dash.javas == 0 %}
                      {% else %}

                      <img src="{% static '/calendar.png' %}" class="java{{forloop.counter0}}" style="width:30px;height:30px;">
                        <input type="text" id="java{{forloop.counter0}}" style="width:1px;border:1px solid white;">
                      {% endif %}
                    </td>

                    <script>
                      $(document).ready(function() {
                          var nDates = {};
                          var data  = JSON.parse('{{ jd1x|escapejs }}');
                          var stat  = JSON.parse('{{ jd2x|escapejs }}');
                          var arr1=[];
                          var arr3=[]

                          for(i in data){
                            for(j in data[i]){
                              if(j=="{{forloop.counter0}}"){
                                for(k in data[i][j]){
                                  arr1.push(data[i][j][k]);
                                }
                              }
                            }
                          }

                          // console.log(arr1);

                          for(i in stat){
                            for(j in stat[i]){
                              if(j=="{{forloop.counter0}}"){
                                for(k in stat[i][j]){
                                  arr3.push(stat[i][j][k]);
                                }
                              }
                            }
                          }
                          // console.log(arr3);

                        for(var i =0 ;i<arr1.length;i++){
                            var day = 1000*60*60*24;
                            date1 = new Date(arr1[i]);
                               var xx = date1.getTime();
                               var yy = new Date(xx);
                               z=(yy.getFullYear()+"/"+(yy.getMonth()+1)+"/"+yy.getDate());
                               if(yy.getDay()!=0 && yy.getDay()!=6){
                                   if(arr3[i]=='Dev'){
                                     nDates[new Date(z)] = 1;
                                   }
                                   if(arr3[i]=='CR Fix'){
                                     nDates[new Date(z)] = 2;
                                   }
                                   if(arr3[i]=='QA Support'){
                                     nDates[new Date(z)] = 3;
                                   }
                                   if(arr3[i]=='Release Support'){
                                     nDates[new Date(z)] = 4;
                                   }
                            }
                        }

                        $("#java{{forloop.counter0}}").datepicker({
                            dateFormat: 'yy-mm-dd',
                            minDate: new Date({{aa}},{{bb}}-1,{{cc}}),
                            maxDate: new Date({{dd}},{{ee}}-1,{{ff}}),
                            beforeShowDay: function (date) {
                                var dev1 = nDates[date];
                                var color="";
                                if (dev1) {
                                    if(dev1==1)
                                      color='dev';
                                    if(dev1==2)
                                      color='cr';
                                    if(dev1==3)
                                      color='qa';
                                    if(dev1==4)
                                      color='rel';
                                    return [true, color, 'Tooltip text'];
                                }
                                else {
                                    return [false, '', ''];
                                }
                            }
                        }).attr('readonly','readonly');
                        $('.java{{forloop.counter0}}').click(function() {
                          $("#java{{forloop.counter0}}").focus();
                        });
                    });
                  </script>


                    <td class="t">
                      <!-- dropdown developer -->
                      <select name="php_sel" class="js-example-basic-single" style="width:110px;">
                        <option>{{ dash.dev_php }}</option>
                        {% for d33 in d3 %}
                          <option>{{ d33.name }}</option>
                        {% endfor %}
                      </select>
                <!-- point selector -->
                      <input type="hidden" name="idx" value="{{ dash.id }}">
                      <input type="number" name="points2" min="0" value="{{ dash.phps }}" id="c">
                      {% if dash.phps == 0 %}
                      {% else %}
                      <img src="{% static '/calendar.png' %}" class="php{{forloop.counter0}}" style="width:30px;height:30px;">
                        <input type="text" id="php{{forloop.counter0}}" style="width:1px;border:1px solid white;">
                      {% endif %}
                    </td>

                    <script>
                      $(document).ready(function() {
                          var nDates = {};
                          var data  = JSON.parse('{{ jd3x|escapejs }}');
                          var stat  = JSON.parse('{{ jd4x|escapejs }}');
                          var arr1=[];
                          var arr3=[]

                          for(i in data){
                            for(j in data[i]){
                              if(j=="{{forloop.counter0}}"){
                                for(k in data[i][j]){
                                  arr1.push(data[i][j][k]);
                                }
                              }
                            }
                          }

                          // console.log(arr1);

                          for(i in stat){
                            for(j in stat[i]){
                              if(j=="{{forloop.counter0}}"){
                                for(k in stat[i][j]){
                                  arr3.push(stat[i][j][k]);
                                }
                              }
                            }
                          }
                          // console.log(arr3);

                        for(var i =0 ;i<arr1.length;i++){
                            var day = 1000*60*60*24;
                            date1 = new Date(arr1[i]);
                               var xx = date1.getTime();
                               var yy = new Date(xx);
                               z=(yy.getFullYear()+"/"+(yy.getMonth()+1)+"/"+yy.getDate());
                               if(yy.getDay()!=0 && yy.getDay()!=6){
                                   if(arr3[i]=='Dev'){
                                     nDates[new Date(z)] = 1;
                                   }
                                   if(arr3[i]=='CR Fix'){
                                     nDates[new Date(z)] = 2;
                                   }
                                   if(arr3[i]=='QA Support'){
                                     nDates[new Date(z)] = 3;
                                   }
                                   if(arr3[i]=='Release Support'){
                                     nDates[new Date(z)] = 4;
                                   }
                            }
                        }

                        $("#php{{forloop.counter0}}").datepicker({
                            dateFormat: 'yy-mm-dd',
                            minDate: new Date({{aa}},{{bb}}-1,{{cc}}),
                            maxDate: new Date({{dd}},{{ee}}-1,{{ff}}),
                            beforeShowDay: function (date) {
                                var dev1 = nDates[date];
                                var color="";
                                if (dev1) {
                                    if(dev1==1)
                                      color='dev';
                                    if(dev1==2)
                                      color='cr';
                                    if(dev1==3)
                                      color='qa';
                                    if(dev1==4)
                                      color='rel';
                                    return [true, color, 'Tooltip text'];
                                }
                                else {
                                    return [false, '', ''];
                                }
                            }
                        }).attr('readonly','readonly');
                        $('.php{{forloop.counter0}}').click(function() {
                          $("#php{{forloop.counter0}}").focus();
                        });
                    });
                  </script>


                    <td class="t">
                      <!-- dropdown developer -->
                      <select name="html_sel" class="js-example-basic-single" style="width:110px;">
                        <option>{{ dash.dev_html }}</option>
                        {% for d44 in d4 %}
                          <option>{{ d44.name }}</option>
                        {% endfor %}
                      </select>
                <!-- point selector -->
                      <input type="hidden" name="idx" value="{{ dash.id }}">
                      <input type="number" name="points3" min="0" value="{{ dash.htmls }}" id="c">
                      {% if dash.htmls == 0 %}
                      {% else %}
                      <img src="{% static '/calendar.png' %}" class="html{{forloop.counter0}}" style="width:30px;height:30px;">
                        <input type="text" id="html{{forloop.counter0}}" style="width:1px;border:1px solid white;">
                      {% endif %}
                    </td>

                    <script>
                      $(document).ready(function() {
                          var nDates = {};
                          var data  = JSON.parse('{{ jd5x|escapejs }}');
                          var stat  = JSON.parse('{{ jd6x|escapejs }}');
                          var arr1=[];
                          var arr3=[]

                          for(i in data){
                            for(j in data[i]){
                              if(j=="{{forloop.counter0}}"){
                                for(k in data[i][j]){
                                  arr1.push(data[i][j][k]);
                                }
                              }
                            }
                          }

                          // console.log(arr1);

                          for(i in stat){
                            for(j in stat[i]){
                              if(j=="{{forloop.counter0}}"){
                                for(k in stat[i][j]){
                                  arr3.push(stat[i][j][k]);
                                }
                              }
                            }
                          }
                          // console.log(arr3);

                        for(var i =0 ;i<arr1.length;i++){
                            var day = 1000*60*60*24;
                            date1 = new Date(arr1[i]);
                               var xx = date1.getTime();
                               var yy = new Date(xx);
                               z=(yy.getFullYear()+"/"+(yy.getMonth()+1)+"/"+yy.getDate());
                               if(yy.getDay()!=0 && yy.getDay()!=6){
                                   if(arr3[i]=='Dev'){
                                     nDates[new Date(z)] = 1;
                                   }
                                   if(arr3[i]=='CR Fix'){
                                     nDates[new Date(z)] = 2;
                                   }
                                   if(arr3[i]=='QA Support'){
                                     nDates[new Date(z)] = 3;
                                   }
                                   if(arr3[i]=='Release Support'){
                                     nDates[new Date(z)] = 4;
                                   }
                            }
                        }

                        $("#html{{forloop.counter0}}").datepicker({
                            dateFormat: 'yy-mm-dd',
                            minDate: new Date({{aa}},{{bb}}-1,{{cc}}),
                            maxDate: new Date({{dd}},{{ee}}-1,{{ff}}),
                            beforeShowDay: function (date) {
                                var dev1 = nDates[date];
                                var color="";
                                if (dev1) {
                                    if(dev1==1)
                                      color='dev';
                                    if(dev1==2)
                                      color='cr';
                                    if(dev1==3)
                                      color='qa';
                                    if(dev1==4)
                                      color='rel';
                                    return [true, color, 'Tooltip text'];
                                }
                                else {
                                    return [false, '', ''];
                                }
                            }
                        }).attr('readonly','readonly');
                        $('.html{{forloop.counter0}}').click(function() {
                          $("#html{{forloop.counter0}}").focus();
                        });
                    });
                  </script>

                      <td class="t">
                      <!-- dropdown developer -->
                        <select name="qa_sel" class="js-example-basic-single" style="width:110px;">
                          <option>{{ dash.dev_qa }}</option>
                          {% for d55 in d5 %}
                            <option>{{ d55.name }}</option>
                          {% endfor %}
                        </select>
                  <!-- point selector -->
                        <input type="hidden" name="idx" value="{{ dash.id }}">
                        <input type="number" name="points4" min="0" value="{{ dash.qas }}" id="c">
                        {% if dash.qas == 0 %}
                        {% else %}
                        <img src="{% static '/calendar.png' %}" class="qa{{forloop.counter0}}" style="width:30px;height:30px;">
                          <input type="text" id="qa{{forloop.counter0}}" style="width:1px;border:1px solid white;">
                        {% endif %}
                      </td>

                      <script>
                        $(document).ready(function() {
                            var nDates = {};
                            var data  = JSON.parse('{{ jd7x|escapejs }}');
                            var stat  = JSON.parse('{{ jd8x|escapejs }}');
                            var arr1=[];
                            var arr3=[]

                            for(i in data){
                              for(j in data[i]){
                                if(j=="{{forloop.counter0}}"){
                                  for(k in data[i][j]){
                                    arr1.push(data[i][j][k]);
                                  }
                                }
                              }
                            }

                            // console.log(arr1);

                            for(i in stat){
                              for(j in stat[i]){
                                if(j=="{{forloop.counter0}}"){
                                  for(k in stat[i][j]){
                                    arr3.push(stat[i][j][k]);
                                  }
                                }
                              }
                            }
                            // console.log(arr3);

                          for(var i =0 ;i<arr1.length;i++){
                              var day = 1000*60*60*24;
                              date1 = new Date(arr1[i]);
                                 var xx = date1.getTime();
                                 var yy = new Date(xx);
                                 z=(yy.getFullYear()+"/"+(yy.getMonth()+1)+"/"+yy.getDate());
                                 if(yy.getDay()!=0 && yy.getDay()!=6){
                                     if(arr3[i]=='Dev'){
                                       nDates[new Date(z)] = 1;
                                     }
                                     if(arr3[i]=='CR Fix'){
                                       nDates[new Date(z)] = 2;
                                     }
                                     if(arr3[i]=='QA Support'){
                                       nDates[new Date(z)] = 3;
                                     }
                                     if(arr3[i]=='Release Support'){
                                       nDates[new Date(z)] = 4;
                                     }
                              }
                          }

                          $("#qa{{forloop.counter0}}").datepicker({
                              dateFormat: 'yy-mm-dd',
                              minDate: new Date({{aa}},{{bb}}-1,{{cc}}),
                              maxDate: new Date({{dd}},{{ee}}-1,{{ff}}),
                              beforeShowDay: function (date) {
                                  var dev1 = nDates[date];
                                  var color="";
                                  if (dev1) {
                                      if(dev1==1)
                                        color='dev';
                                      if(dev1==2)
                                        color='cr';
                                      if(dev1==3)
                                        color='qa';
                                      if(dev1==4)
                                        color='rel';
                                      return [true, color, 'Tooltip text'];
                                  }
                                  else {
                                      return [false, '', ''];
                                  }
                              }
                          }).attr('readonly','readonly');
                          $('.qa{{forloop.counter0}}').click(function() {
                            $("#qa{{forloop.counter0}}").focus();
                          });
                      });
                    </script>

                    <td><input type="submit" name="assign_data" class="btn example_c" id="reg1" value="Assign"></td>

                    </tr>
                    </form>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- check developers -->
<div class="container-fluid">
  <div class="col-md-3">
    <button class="btn example_c" onclick="w14_open()" id="check1"><small>Check Available Developers</small></button>
  </div>
</div>

<div class="content-fluid w3-animate-left" style="display:none;" id="fm">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><b><u>Available Developers</u></b></h4>
        </div>
        <div class="card-body" id="con">
          <div class="table100 ver3">
            <table class="table" id="tab3" data-vertable="ver1">
              <thead class="text-primary">
                <th></th>
                <th>DEV</th>
                <th>Total</th>
                {% for d in d1 %}
                  <th>{{ d.name }}</th>
                {% endfor %}
              </thead>
              <tbody>
                <tr class="row100 head">
                  <td>JAVA</td>
                  <td>Bandwidth</td>
                  <td>{{ sjava }}</td>
                  {% for d in d1 %}
                    <td>{{ d.spjava }}</td>
                  {% endfor %}
                </tr>
                <tr class="row100 head">
                  <td></td>
                  <td>Story Points</td>
                  <td>{{ a }}</td>
                  {% for i in list11 %}
                    <td>{{ i }}</td>
                  {% endfor %}
                </tr>
                <tr class="row100 head">
                  <td>PHP</td>
                  <td>Bandwidth</td>
                  <td>{{ sphp }}</td>
                  {% for d in d1 %}
                    <td>{{ d.spphp }}</td>
                  {% endfor %}
                </tr>
                <tr class="row100 head">
                  <td></td>
                  <td>Story Points</td>
                  <td>{{ b }}</td>
                  {% for i in list21 %}
                    <td>{{ i }}</td>
                  {% endfor %}
                </tr>
                <tr class="row100 head">
                  <td>HTML</td>
                  <td>Bandwidth</td>
                  <td>{{ shtml }}</td>
                  {% for d in d1 %}
                    <td>{{ d.sphtml }}</td>
                  {% endfor %}
                </tr>
                <tr class="row100 head">
                  <td></td>
                  <td>Story Points</td>
                  <td>{{ c }}</td>
                  {% for i in list31 %}
                    <td>{{ i }}</td>
                  {% endfor %}
                </tr>
                <tr class="row100 head">
                  <td>QA</td>
                  <td>Bandwidth</td>
                  <td>{{ sqa }}</td>
                  {% for d in d1 %}
                    <td>{{ d.spqa }}</td>
                  {% endfor %}
                </tr>
                <tr class="row100 head">
                  <td></td>
                  <td>Story Points</td>
                  <td>{{ d }}</td>
                  {% for i in list41 %}
                    <td>{{ i }}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
            <div class="update ml-auto mr-auto">
              <button class="btn example_c" onclick="w14_close()"><small>Close</small></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="m3">

<script>
function w14_open() {
  document.getElementById("m3").style.marginTop = "0%";
  document.getElementById("fm").style.display = "block";
  document.getElementById("check1").style.display = 'none';
}
function w14_close() {
  document.getElementById("m3").style.marginTop = "0%";
  document.getElementById("fm").style.display = "none";
  document.getElementById("check1").style.display = "inline-block";
}
</script>

  </body>
</html>
