{% include 'home.html' %}
{% include 'nav.html' %}

{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.js" integrity="sha256-ZIgVXws0JSyxy1OmqGeFYUsfoNr22H2o4dMlFBrKLUU=" crossorigin="anonymous"></script>

<link href="/static/new/sb-admin-2.min.css" rel="stylesheet">
{% load static %}
  <link rel="stylesheet" href="/static/css/stories.css">

  <body id="re">

    {% block nav %}
    {% endblock %}

          <!-- Begin Page Content -->

          <!-- Content Row -->
          <div class="container-fluid">

            <div class="row">

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Add Story</div>
                            <button class="btn example_d" style="font-size:11px;"  onclick="w4_open()" id="allocate">Add Story Manually</button>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Add Story</div>
                          <button class="btn example_e" style="font-size:11px;"   onclick="w13_open()" id="csv">Add Story via CSV</button>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form class="w3-animate-left" style="display:none" method="POST" enctype="multipart/form-data" id="hz">
            {% csrf_token %}
            <div class="container-fluid">
              <div class="col-sm-20">
                <div class="card card-user" id="back">
                  <div class="card-header">
                    <h5 class="card-title">Add Story via CSV</h5>
                  </div>
                  <div class="card-body">

                    <div class="row">
                      <div class="col-md-6 pr-1">
                          <input type="file" name="file1">
                      </div>
                    </div>

                    <button type="submit" name="csv_button" class="btn example_c" id="reg1"><small>Submit</small></button>

                    <div class="row">
                      <div class="update ml-auto mr-auto">
                          <input type="button" class="btn example_c" value="Close" onclick="w13_close()">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div id="m2">

          <script>
          function w13_open() {
            document.getElementById("m2").style.marginTop = "0%";
            document.getElementById("hz").style.display = "block";
            document.getElementById("csv").style.display = 'none';
          }
          function w13_close() {
            document.getElementById("m2").style.marginTop = "0%";
            document.getElementById("hz").style.display = "none";
            document.getElementById("csv").style.display = "inline-block";
          }
          </script>

          <form class="post-form w3-animate-left" style="display:none" method='POST' id="f">
            {% csrf_token %}
            <div class="container-fluid">
              <div class="col-sm-20">
                <div class="card card-user" id="back">
                  <div class="card-header">
                    <h5 class="card-title">Add Story Manually</h5>
                  </div>
                  <div class="card-body">
                    <form>

                      <div class="row">
                        <div class="col-md-6 pr-1">
                          <div class="form-group">
                            <label>Story Name</label>
                            {{ form.story_name }}
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 pr-1">
                          <div class="form-group">
                            <label>Description Link:</label>
                            {{ form.description }}
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 pr-1">
                          <div class="form-group">
                            <label>Jira ID</label>
                            {{ form.jira }}
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="update ml-auto mr-auto">
                          <input type="hidden" name="spr1" value="1">
                          <input type="submit" name="story_button" class="btn example_c" id="reg1" value="Create Story">
                        </div>
                      </div>

                      <div class="row">
                        <div class="update ml-auto mr-auto">
                          <button class="btn example_c" onclick="w4_close()" id="story_close"><small>Close</small></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div id="m">

          <script>
          function w4_open() {
            document.getElementById("m").style.marginTop = "0%";
            document.getElementById("f").style.display = "block";
            document.getElementById("allocate").style.display = 'none';
          }
          function w4_close() {
            document.getElementById("m").style.marginTop = "0%";
            document.getElementById("f").style.display = "none";
            document.getElementById("allocate").style.display = "inline-block";
          }
          </script>

          <div class="container-fluid">
            <div class="card shadow mb-4">
              <div class="table100 ver3">


                <table class="w3-animate-left" data-vertable="ver1" style="display:none;font-size:10px;" id="e">
                  <tbody>
                    <tr>
                      <form method="get" id='edit2'>
                        {% csrf_token %}
                        <td><label>Story Name</label>
                        <input type="text" name="s_name" value="" id="a1"></td>
                        <td><label>Description Link</label>
                        <input type="url" name="desc" value="" id="b1"></td>
                        <td><label>Old Jira ID</label>
                        <input type="text" name ="old_jira" value="" id="c1"></td>
                        <td><label>New Jira ID</label>
                        <input type="text" name="new_jira" value="" id="d1"></td>
                        <td>
                          <input class ="btn example_d" type="submit" value="Submit">
                          <p></p>
                          <input type="button" class="btn example_d" onclick="w5_close()" value="Close">
                        </td>
                      </form>
                    </tr>
                  </tbody>
                </table>

                <table class="table" id="tab2" data-vertable="ver1">
                  <thead class="text-primary">
                    <!-- <th>Check</th> -->
                    <th class="th-sm">Story Name</th>
                    <th class="th-sm">Jira ID</th>
                    <th class="th-sm">Description</th>
                    <th class="th-sm">Status</th>
                    <th class="th-sm">Action</th>
                  </thead>
                  <tbody>

                    {% for d in datay %}{% for d1 in data %}
                      {% if forloop.counter == forloop.parentloop.counter %}
                    <tr class="row100 head">
                      <form method="GET" target="_blank">
                        <input type="hidden" name="red" value="{{d.id}}">
                        <td><a href="#"><input type="submit" value="{{ d.story_name }}"></a></td>
                        <td>{{d.jira}}</td>
                      </form>
                      <td><a href="{{ d.description }}" target="_blank">{{ d.description }}</a></td>
                      {% if d1.ostatus == 'Live' %}
                        <td><span id="green" class="dot"></span>{{ d1.ostatus }}</td>
                      {% endif %}
                      {% if d1.ostatus == 'In Progress' %}
                        <td><span id="yellow" class="dot"></span>{{ d1.ostatus }}</td>
                      {% endif %}
                      {% if d1.ostatus == 'HTML Done' or d1.ostatus == 'PHP Done' or d1.ostatus == 'API Done' or d1.ostatus == 'CR' %}
                        <td><span id="white" class="dot"></span>{{ d.ostatus }}</td>
                      {% endif %}
                      {% if d1.ostatus == '' %}
                        <td><span id="black" class="dot"></span>Unassigned</td>
                      {% endif %}
                      {% if d1.ostatus == 'Blocked' or d1.ostatus == 'Blocked on API' or d1.ostatus == 'Blocked on HTML' or d1.ostatus == 'Blocked on Mock' or d1.ostatus == 'Spec' %}
                        <td><span id="red" class="dot"></span>{{ d1.ostatus }}</td>
                      {% endif %}
                      {% if d1.ostatus == 'Pending Deployment' or d1.ostatus == 'Complete' %}
                        <td><span id="pd" class="dot"></span>{{ d1.ostatus }}</td>
                      {% endif %}
                      {% if d1.ostatus == 'QA' %}
                        <td><span id="blue" class="dot"></span>{{ d1.ostatus }}</td>
                      {% endif %}
                      {% if d1.ostatus == 'Next Sprint' %}
                        <td><span id="purple" class="dot"></span>{{ d1.ostatus }}</td>
                      {% endif %}
                      {% if d1.ostatus == 'Not Needed' or d1.ostatus == 'Duplicate' %}
                        <td><span id="other" class="dot"></span>{{ d1.ostatus }}</td>
                      {% endif %}
                      <td>
                        <!-- <form method="GET"> -->
                        <div class="ec">
                          <input type="image" src="{% static '/edit.png' %}" onclick="w5_open({{d.id}})" id="edit" style="width:30px;height:30px;">
                        </div>
                        <!-- </form> -->
                        <div class="dc">
                          <form method="get" id="x{{d.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="delete_story" value="{{ d.id }}">
                            <input type="image" src="{% static '/delete1.png' %}" style="width:30px;height:30px;" id="delete">
                          </form>
                        </div>
                        <script type="text/javascript">
                            jQuery(document).ready(function($){
                              var frm = $('#x{{d.id}}');
                              frm.submit(function () {
                                if (this.id == 'x{{d.id}}'){
                                    $.ajax({
                                        type: $('#x{{d.id}}').attr('method'),
                                        data: $('#x{{d.id}}').serialize(),
                                        success: function(data) {
                                          $("#re").html(data);
                                        },
                                    });
                                  return false;
                                }
                              });
                            });
                        </script>
                      </td>
                    </tr>
                      {% endif %}
                    {% endfor %}{% endfor %}
                  </tbody>
                </table>
                </div>
              </div>
            </div>

          <div id="n">
          <script>
          function w5_open(e) {
            document.getElementById("n").style.marginTop = "0%";
            document.getElementById("e").style.display = "block";
            document.getElementById("edit").style.display = 'none';
            $(document).ready(function() {
              var d1  = JSON.parse('{{ jd1|escapejs }}');
              var d2  = JSON.parse('{{ jd2|escapejs }}');
              var d3  = JSON.parse('{{ jd3|escapejs }}');
              var d4  = JSON.parse('{{ jd4|escapejs }}');
              var a=""
              var b=""
              var c=""
              for(i in d1){
                if(e==d1[i]){
                  a=d2[i];
                  b=d3[i];
                  c=d4[i];
                  break;
                }
              }
              document.getElementById('a1').value = a;
              document.getElementById('b1').value = b;
              document.getElementById('c1').value = c;
              document.getElementById('d1').value = c;
            });
          }

          function w5_close() {
            document.getElementById("n").style.marginTop = "0%";
            document.getElementById("e").style.display = "none";
            document.getElementById("edit").style.display = "inline-block";
          }
          </script>

          <!-- allocation dashboard -->

          <div class="container-fluid">
            <div class="card shadow mb-4">
              <div class="table100 ver3">
                <table class="table" id="tab1" data-vertable="ver1">
                  <thead class="text-primary">
                    <th>Jira ID</th>
                    <th>JAVA</th>
                    <th>PHP</th>
                    <th>HTML</th>
                    <th>QA</th>
                    <th>Assign</th>
                  </thead>
                  <tbody>
                    {% for dash in dashboard %}{% for dash1 in dashboard1 %}
                      {% if forloop.counter == forloop.parentloop.counter %}
                    <tr class="row100 head" id="br">
                      <tr class="row100 head">
                        <td style="color:black;background:#ededed;"><a href="{{dash.description}}" target="_blank">{{ dash.jira }}</a></td>
                        <td style="color:black;background:#ededed;" colspan="6"><a href="{{dash.description}}" target="_blank">{{ dash.story_name }}</a></td>
                      </tr>
                      <form method="GET" id="form_id{{dash.id}}">
                        {% csrf_token %}
                        <tr class="row100 head">
                          <td></td>
                            <td class="t">
                            <!-- dropdown developer -->
                              <select  name="java_sel" class="js-example-basic-single" style="width:110px;">
                                <option>{{ dash1.dev_java }}</option>
                                {% for d22 in d2 %}
                                  <option>{{ d22.name }}</option>
                                {% endfor %}
                              </select>
                          <!-- point selector -->
                              <input type="hidden" name="idx" value="{{ dash.id }}">
                              <input class="points" type="number" name="points1" min="0" value="{{ dash1.javas }}" id="c">
                              {% if dash1.javas == 0 %}
                              {% else %}

                              <img src="{% static '/calendar.png' %}" class="java{{forloop.counter0}}" style="width:30px;height:30px;">
                                <input type="text" id="java{{forloop.counter0}}" style="width:1px;border:1px solid white;">
                              {% endif %}
                            </td>

                            <script>
                              $(document).ready(function() {
                                  var nDates = {};
                                  var data  = JSON.parse('{{ jd1x|escapejs }}');
                                  var stat  = JSON.parse('{{ jd2x|escapejs }}');
                                  var arr1=[];
                                  var arr3=[]

                                  for(i in data){
                                    for(j in data[i]){
                                      if(j=="{{forloop.counter0}}"){
                                        for(k in data[i][j]){
                                          arr1.push(data[i][j][k]);
                                        }
                                      }
                                    }
                                  }

                                  // console.log(arr1);

                                  for(i in stat){
                                    for(j in stat[i]){
                                      if(j=="{{forloop.counter0}}"){
                                        for(k in stat[i][j]){
                                          arr3.push(stat[i][j][k]);
                                        }
                                      }
                                    }
                                  }
                                  // console.log(arr3);

                                for(var i =0 ;i<arr1.length;i++){
                                    var day = 1000*60*60*24;
                                    date1 = new Date(arr1[i]);
                                       var xx = date1.getTime();
                                       var yy = new Date(xx);
                                       z=(yy.getFullYear()+"/"+(yy.getMonth()+1)+"/"+yy.getDate());
                                       if(yy.getDay()!=0 && yy.getDay()!=6){
                                           if(arr3[i]=='Dev'){
                                             nDates[new Date(z)] = 1;
                                           }
                                           if(arr3[i]=='CR Fix'){
                                             nDates[new Date(z)] = 2;
                                           }
                                           if(arr3[i]=='QA Support'){
                                             nDates[new Date(z)] = 3;
                                           }
                                           if(arr3[i]=='Release Support'){
                                             nDates[new Date(z)] = 4;
                                           }
                                    }
                                }

                                $("#java{{forloop.counter0}}").datepicker({
                                    dateFormat: 'yy-mm-dd',
                                    minDate: new Date({{aa}},{{bb}}-1,{{cc}}),
                                    maxDate: new Date({{dd}},{{ee}}-1,{{ff}}),
                                    beforeShowDay: function (date) {
                                        var dev1 = nDates[date];
                                        var color="";
                                        if (dev1) {
                                            if(dev1==1)
                                              color='dev';
                                            if(dev1==2)
                                              color='cr';
                                            if(dev1==3)
                                              color='qa';
                                            if(dev1==4)
                                              color='rel';
                                            return [true, color, 'Tooltip text'];
                                        }
                                        else {
                                            return [false, '', ''];
                                        }
                                    }
                                }).attr('readonly','readonly');
                                $('.java{{forloop.counter0}}').click(function() {
                                  $("#java{{forloop.counter0}}").focus();
                                });
                            });
                          </script>


                            <td class="t">
                              <!-- dropdown developer -->
                              <select name="php_sel" class="js-example-basic-single" style="width:110px;">
                                <option>{{ dash1.dev_php }}</option>
                                {% for d33 in d3 %}
                                  <option>{{ d33.name }}</option>
                                {% endfor %}
                              </select>
                        <!-- point selector -->
                              <input type="hidden" name="idx" value="{{ dash.id }}">
                              <input class="points" type="number" name="points2" min="0" value="{{ dash1.phps }}" id="c">
                              {% if dash1.phps == 0 %}
                              {% else %}
                              <img src="{% static '/calendar.png' %}" class="php{{forloop.counter0}}" style="width:30px;height:30px;">
                                <input type="text" id="php{{forloop.counter0}}" style="width:1px;border:1px solid white;">
                              {% endif %}
                            </td>

                            <script>
                              $(document).ready(function() {
                                  var nDates = {};
                                  var data  = JSON.parse('{{ jd3x|escapejs }}');
                                  var stat  = JSON.parse('{{ jd4x|escapejs }}');
                                  var arr1=[];
                                  var arr3=[]

                                  for(i in data){
                                    for(j in data[i]){
                                      if(j=="{{forloop.counter0}}"){
                                        for(k in data[i][j]){
                                          arr1.push(data[i][j][k]);
                                        }
                                      }
                                    }
                                  }

                                  // console.log(arr1);

                                  for(i in stat){
                                    for(j in stat[i]){
                                      if(j=="{{forloop.counter0}}"){
                                        for(k in stat[i][j]){
                                          arr3.push(stat[i][j][k]);
                                        }
                                      }
                                    }
                                  }
                                  // console.log(arr3);

                                for(var i =0 ;i<arr1.length;i++){
                                    var day = 1000*60*60*24;
                                    date1 = new Date(arr1[i]);
                                       var xx = date1.getTime();
                                       var yy = new Date(xx);
                                       z=(yy.getFullYear()+"/"+(yy.getMonth()+1)+"/"+yy.getDate());
                                       if(yy.getDay()!=0 && yy.getDay()!=6){
                                           if(arr3[i]=='Dev'){
                                             nDates[new Date(z)] = 1;
                                           }
                                           if(arr3[i]=='CR Fix'){
                                             nDates[new Date(z)] = 2;
                                           }
                                           if(arr3[i]=='QA Support'){
                                             nDates[new Date(z)] = 3;
                                           }
                                           if(arr3[i]=='Release Support'){
                                             nDates[new Date(z)] = 4;
                                           }
                                    }
                                }

                                $("#php{{forloop.counter0}}").datepicker({
                                    dateFormat: 'yy-mm-dd',
                                    minDate: new Date({{aa}},{{bb}}-1,{{cc}}),
                                    maxDate: new Date({{dd}},{{ee}}-1,{{ff}}),
                                    beforeShowDay: function (date) {
                                        var dev1 = nDates[date];
                                        var color="";
                                        if (dev1) {
                                            if(dev1==1)
                                              color='dev';
                                            if(dev1==2)
                                              color='cr';
                                            if(dev1==3)
                                              color='qa';
                                            if(dev1==4)
                                              color='rel';
                                            return [true, color, 'Tooltip text'];
                                        }
                                        else {
                                            return [false, '', ''];
                                        }
                                    }
                                }).attr('readonly','readonly');
                                $('.php{{forloop.counter0}}').click(function() {
                                  $("#php{{forloop.counter0}}").focus();
                                });
                            });
                          </script>


                            <td class="t">
                              <!-- dropdown developer -->
                              <select name="html_sel" class="js-example-basic-single" style="width:110px;">
                                <option>{{ dash1.dev_html }}</option>
                                {% for d44 in d4 %}
                                  <option>{{ d44.name }}</option>
                                {% endfor %}
                              </select>
                        <!-- point selector -->
                              <input type="hidden" name="idx" value="{{ dash.id }}">
                              <input class="points" type="number" name="points3" min="0" value="{{ dash1.htmls }}" id="c">
                              {% if dash1.htmls == 0 %}
                              {% else %}
                              <img src="{% static '/calendar.png' %}" class="html{{forloop.counter0}}" style="width:30px;height:30px;">
                                <input type="text" id="html{{forloop.counter0}}" style="width:1px;border:1px solid white;">
                              {% endif %}
                            </td>

                            <script>
                              $(document).ready(function() {
                                  var nDates = {};
                                  var data  = JSON.parse('{{ jd5x|escapejs }}');
                                  var stat  = JSON.parse('{{ jd6x|escapejs }}');
                                  var arr1=[];
                                  var arr3=[]

                                  for(i in data){
                                    for(j in data[i]){
                                      if(j=="{{forloop.counter0}}"){
                                        for(k in data[i][j]){
                                          arr1.push(data[i][j][k]);
                                        }
                                      }
                                    }
                                  }

                                  // console.log(arr1);

                                  for(i in stat){
                                    for(j in stat[i]){
                                      if(j=="{{forloop.counter0}}"){
                                        for(k in stat[i][j]){
                                          arr3.push(stat[i][j][k]);
                                        }
                                      }
                                    }
                                  }
                                  // console.log(arr3);

                                for(var i =0 ;i<arr1.length;i++){
                                    var day = 1000*60*60*24;
                                    date1 = new Date(arr1[i]);
                                       var xx = date1.getTime();
                                       var yy = new Date(xx);
                                       z=(yy.getFullYear()+"/"+(yy.getMonth()+1)+"/"+yy.getDate());
                                       if(yy.getDay()!=0 && yy.getDay()!=6){
                                           if(arr3[i]=='Dev'){
                                             nDates[new Date(z)] = 1;
                                           }
                                           if(arr3[i]=='CR Fix'){
                                             nDates[new Date(z)] = 2;
                                           }
                                           if(arr3[i]=='QA Support'){
                                             nDates[new Date(z)] = 3;
                                           }
                                           if(arr3[i]=='Release Support'){
                                             nDates[new Date(z)] = 4;
                                           }
                                    }
                                }

                                $("#html{{forloop.counter0}}").datepicker({
                                    dateFormat: 'yy-mm-dd',
                                    minDate: new Date({{aa}},{{bb}}-1,{{cc}}),
                                    maxDate: new Date({{dd}},{{ee}}-1,{{ff}}),
                                    beforeShowDay: function (date) {
                                        var dev1 = nDates[date];
                                        var color="";
                                        if (dev1) {
                                            if(dev1==1)
                                              color='dev';
                                            if(dev1==2)
                                              color='cr';
                                            if(dev1==3)
                                              color='qa';
                                            if(dev1==4)
                                              color='rel';
                                            return [true, color, 'Tooltip text'];
                                        }
                                        else {
                                            return [false, '', ''];
                                        }
                                    }
                                }).attr('readonly','readonly');
                                $('.html{{forloop.counter0}}').click(function() {
                                  $("#html{{forloop.counter0}}").focus();
                                });
                            });
                          </script>

                              <td class="t">
                              <!-- dropdown developer -->
                                <select name="qa_sel" class="js-example-basic-single" style="width:110px;">
                                  <option>{{ dash1.dev_qa }}</option>
                                  {% for d55 in d5 %}
                                    <option>{{ d55.name }}</option>
                                  {% endfor %}
                                </select>
                          <!-- point selector -->
                                <input type="hidden" name="idx" value="{{ dash.id }}">
                                <input class="points" type="number" name="points4" min="0" value="{{ dash1.qas }}" id="c">
                                {% if dash1.qas == 0 %}
                                {% else %}
                                <img src="{% static '/calendar.png' %}" class="qa{{forloop.counter0}}" style="width:30px;height:30px;">
                                  <input type="text" id="qa{{forloop.counter0}}" style="width:1px;border:1px solid white;">
                                {% endif %}
                              </td>

                              <script>
                                $(document).ready(function() {
                                    var nDates = {};
                                    var data  = JSON.parse('{{ jd7x|escapejs }}');
                                    var stat  = JSON.parse('{{ jd8x|escapejs }}');
                                    var arr1=[];
                                    var arr3=[]

                                    for(i in data){
                                      for(j in data[i]){
                                        if(j=="{{forloop.counter0}}"){
                                          for(k in data[i][j]){
                                            arr1.push(data[i][j][k]);
                                          }
                                        }
                                      }
                                    }

                                    // console.log(arr1);

                                    for(i in stat){
                                      for(j in stat[i]){
                                        if(j=="{{forloop.counter0}}"){
                                          for(k in stat[i][j]){
                                            arr3.push(stat[i][j][k]);
                                          }
                                        }
                                      }
                                    }
                                    // console.log(arr3);

                                  for(var i =0 ;i<arr1.length;i++){
                                      var day = 1000*60*60*24;
                                      date1 = new Date(arr1[i]);
                                         var xx = date1.getTime();
                                         var yy = new Date(xx);
                                         z=(yy.getFullYear()+"/"+(yy.getMonth()+1)+"/"+yy.getDate());
                                         if(yy.getDay()!=0 && yy.getDay()!=6){
                                             if(arr3[i]=='Dev'){
                                               nDates[new Date(z)] = 1;
                                             }
                                             if(arr3[i]=='CR Fix'){
                                               nDates[new Date(z)] = 2;
                                             }
                                             if(arr3[i]=='QA Support'){
                                               nDates[new Date(z)] = 3;
                                             }
                                             if(arr3[i]=='Release Support'){
                                               nDates[new Date(z)] = 4;
                                             }
                                      }
                                  }

                                  $("#qa{{forloop.counter0}}").datepicker({
                                      dateFormat: 'yy-mm-dd',
                                      minDate: new Date({{aa}},{{bb}}-1,{{cc}}),
                                      maxDate: new Date({{dd}},{{ee}}-1,{{ff}}),
                                      beforeShowDay: function (date) {
                                          var dev1 = nDates[date];
                                          var color="";
                                          if (dev1) {
                                              if(dev1==1)
                                                color='dev';
                                              if(dev1==2)
                                                color='cr';
                                              if(dev1==3)
                                                color='qa';
                                              if(dev1==4)
                                                color='rel';
                                              return [true, color, 'Tooltip text'];
                                          }
                                          else {
                                              return [false, '', ''];
                                          }
                                      }
                                  }).attr('readonly','readonly');
                                  $('.qa{{forloop.counter0}}').click(function() {
                                    $("#qa{{forloop.counter0}}").focus();
                                  });
                              });
                            </script>

                            <td><input type="submit" name="assign_data" class="btn example_d" id="reg1" value="Assign"></td>
                            </tr>
                          </form>
                      </tr>
                        {% endif %}
                    {% endfor %}{% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <a class="float" href="#" data-toggle="modal" data-target="#devModal"><img src="/static/profile/pics/empty.png" style="height:40px;width:40px;"></a>

    <!-- Available Developers Modal-->
    <div class="modal fade" id="devModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:850px;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Available Developers</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="container-fluid">
              <div class="card shadow mb-4">
                <div class="table100 ver3">
                  <table class="table" id="tab3" data-vertable="ver1">
                    <thead class="text-primary">
                      <th>Available Dev</th>
                      <th colspan='2'>JAVA</th>
                      <th colspan='2'>PHP</th>
                      <th colspan='2'>HTML</th>
                      <th colspan='2'>QA</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td>Available</td>
                        <td>Assigned</td>
                        <td>Available</td>
                        <td>Assigned</td>
                        <td>Available</td>
                        <td>Assigned</td>
                        <td>Available</td>
                        <td>Assigned</td>
                      </tr>
                      <tr class="row100 head" style="font-weight:bold;">
                        <td>TOTAL</td>
                        <td>{{ sjava }}</td>
                        <td>{{ a }}</td>
                        <td>{{ sphp }}</td>
                        <td>{{ b }}</td>
                        <td>{{ shtml }}</td>
                        <td>{{ c }}</td>
                        <td>{{ sqa }}</td>
                        <td>{{ d }}</td>
                      </tr>
                      {% for d in d1 %}
                        <tr class="row100 head">
                          <td>{{ d.name }}</td>
                          <td>{{ d.spjava }}</td>
                          {% for i in list11 %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              <td>{{ i }}</td>
                            {% endif %}
                          {% endfor %}
                          <td>{{ d.spphp }}</td>
                          {% for i in list21 %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              <td>{{ i }}</td>
                            {% endif %}
                          {% endfor %}
                          <td>{{ d.sphtml }}</td>
                          {% for i in list31 %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              <td>{{ i }}</td>
                            {% endif %}
                          {% endfor %}
                          <td>{{ d.spqa }}</td>
                          {% for i in list41 %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              <td>{{ i }}</td>
                            {% endif %}
                          {% endfor %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#">
  <img src="/static/angle-up-solid.svg" style="width:30px;height:30px;">
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var overlay = document.getElementById("overlay");
  window.addEventListener('load', function(){
    overlay.style.display = 'none';
  })
</script>

<script src="/static/new/sb-admin-2.min.js"></script>

<script>
  $(document).ready(function(){
    $('#tab1').tablesorter();
    $('#tab2').tablesorter();
    $('#tab3').tablesorter();
  });
</script>

<script>
  $(document).ready(function($) {
    $('.js-example-basic-single').select2();
  }(jQuery));
</script>

  </body>
{% endblock %}
